  //------------------------------------------------------------------------------
// Buscador
//------------------------------------------------------------------------------

.mailing-form {
  background-color: color('grey-dark');
  text-align: center;
  @include respond-to(m) {
    padding: 0;
  }

  form {
    max-width: 650px;
    margin: 0 auto;

    .icono { //icono
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 16px;
      margin-bottom: 23px;
      img {
        width: 39.16px;
        height: 39.16px;
      }
    }

    .form-item { // barra buscador
        @include respond-to(m) {
        margin-right: 10px;
        margin-left: 10px;
        float: left;
      }
      input {
        width: 100%;
      }
      &.form-item-email {
        margin-bottom: 5px;
      }
      &.form-item-terms {
        label {
          color: white;
          font-size: 10px;
          display: inline-block;
          a {
            color: color('red');
            text-decoration: underline;
          }
        }
        .error {
          color: color('red');
        }
        .form-checkbox {
          display: inline-block;
          width: 20px;
        }
      }
    }

    .btn-suscribe { // boton
      background-color: color('coffee');
      background-position: center;
      color: color('white');
      border: 0;
      padding: 5px 10px;
      margin-top: 20px;
      margin-bottom: 11px;
    }
  }
}

//------------------------------------------------------------------------------
// Menu Foros en Linea-Chat-Peticciones Queja-Servicios en Linea-Faq-Contactenos-Trasparencia
//------------------------------------------------------------------------------

.tools-menu {
  background-color: color('black');
  padding: 40px 20px;

  .row {
    .col {
      text-align: center;
      margin-bottom: 15px;

      img {
        display: block;
        width: 64px;
        margin: 0 auto;
      }

      a {
        font-size: 12px;
        line-height: 19px;
        color: white;
        text-decoration: none;

        i {
          font-size: 4em;
        }

        span {
          display: block;
          margin-top: 15px;
          &.min-margin {
            margin-top: 7px;
          }
        }
        &:hover {
          color: color('red');
          path {
            fill: color('red');
          }
        }
        &:visited {
          color: color('grey') !important;
          path {
            fill: color('grey') !important;
          }
        }
        svg {
          width: 48px;
        }
      }
    }
  }
}
//------------------------------------------------------------------------------
// Iconos de Menu
//------------------------------------------------------------------------------

.iconos-footer {
  .columna {
    text-align: center;
    padding: 0 4%;
    margin-bottom: 20px;

    @include respond-to(m) {
      width: 14%;
      float: left;
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #ed1c24;
      }
      &:visited {
        color: #aaaaaa;
      }
    }
  }
  i {
    display: block;
    width: 100%;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
    &.icono-foros {
      background-image: url('../images/svg/footer/foros.svg');
      &:hover {
        background-image: url('../images/svg/footer/foros-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/foros-v.svg');
      }
    }
    &.icono-chat {
      background-image: url('../images/svg/footer/chat.svg');
      &:hover {
        background-image: url('../images/svg/footer/chat-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/chat-v.svg');
      }
    }
    &.icono-pqr {
      background-image: url('../images/svg/footer/pqr.svg');
      &:hover {
        background-image: url('../images/svg/footer/pqr-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/pqr-v.svg');
      }
    }
    &.icono-servicios {
      background-image: url('../images/svg/footer/servicios.svg');
      &:hover {
        background-image: url('../images/svg/footer/servicios-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/servicios-v.svg');
      }
    }
    &.icono-faq {
      background-image: url('../images/svg/footer/faq.svg');
      &:hover {
        background-image: url('../images/svg/footer/faq-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/faq-v.svg');
      }
    }
    &.icono-contacto {
      background-image: url('../images/svg/footer/contacto.svg');
      &:hover {
        background-image: url('../images/svg/footer/contacto-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/contacto-v.svg');
      }
    }
    &.icono-transparencia {
      background-image: url('../images/svg/footer/transparencia.svg');
      &:hover {
        background-image: url('../images/svg/footer/transparencia-h.svg');
      }
      &:visited {
        background-image: url('../images/svg/footer/transparencia-v.svg');
      }
    }
  }
}

//------------------------------------------------------------------------------
// Menu Contactenos
//------------------------------------------------------------------------------
.footer-menu {
  background-color: color('beige');
  padding: 20px;

  h3 {
    text-align: center;
    @include type-layout(s, 1);
    color: color('black');
    margin: 0;
    font-weight: weight('bold');

    a {
      @include type-layout(s, 1);
      color: color('black');
      text-decoration: none;
      font-weight: weight('bold');
    }

    @include respond-to(m) {
      text-align: left;
    }
  }

   //Nuestro sitio Artesanias TV - Bieñal de Diseño - Niño y Niñas - Expoartesano - Expoartesanias - Propiedad Intelectul
  .nuestros-sitios {
    h3 {
      i {
        background: url('../images/svg/footer/nuestros-sitios.svg') no-repeat center center;
        background-size: contain;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        @include respond-to(m) {
          float: left;
          display: block;
        }
      }
    }
    ul {
      padding-left: 20px;
      li {
        list-style: disc;
        display: list-item;
        list-style: none;
        &.first {
           list-style: none;
        }
      }
    }
  }
  ul {
    padding: 0;
    li {
      display: block;
      list-style: none;
      text-align: center;
      @include respond-to(m) {
        text-align: left;
      }
      a {
        @include type-layout(s, 1);
        color: color('grey-dark');
        font-weight: weight('light');
        text-decoration: none;
      }
    }
  }

  .btn-contacto {
    text-align: center;
  }

  .boton {
    @include type-layout(s, 1);
    background-color: color('black');
    color: color('white');
    font-weight: weight('light');
    padding: 10px 40px;
    text-decoration: none;
    display: inline-block;

    @include respond-to(xl) {
      margin-top: 40px;
    }
  }

  .menu-bottom {
    margin-bottom: 30px;
  }

  .informacion {
    margin: 20px 0 30px;
    text-align: center;
    @include respond-to(m){
      text-align: inherit;

      h3 {
        text-align: left;
      }
    }

    .icon {
      width: 28px;
      height: 28px;
      display: inline-block;
      @include respond-to(m){
        float: left;
        display: block;
      }
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin: 0 0 2px 28px;
      @include respond-to(m){
        float: left;
        text-align: left;
      }
      //text-align: center;
    }

    ul {
      margin: 10px 0 10px 0;
      padding: 0;
      @include zen-respond-to(m){
        margin: 10px 0 10px 28px;
      }

      li {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .mg-bottom {
      margin-bottom: 10px;
    }
    .columna {
      margin-bottom: 20px;
      @include zen-respond-to(m){
        margin-bottom: 0;
      }
    }
  }
}

//------------------------------------------------------------------------------
//  Imagenes Aliados
//------------------------------------------------------------------------------
.footer-bottom {
  background-color: color('white');
  padding: 20px;
  .column {
    margin-bottom: 10px;
    text-align: center;

    @include respond-to(xl) {
      text-align: left;
      width: 33.33%;
      float: left;
    }
  }
  a {
    img {
      min-width: 85px;
    }
  }
}
//------------------------------------------------------------------------------
//  End Footer Menu
//------------------------------------------------------------------------------
.footer-copyright {
  background-color: color('grey-dark');
  .container {
    ul {
      margin: 0;
      padding: 10px 0;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid white;
        color: white;
        font-size: 12px;
        a {
          color: white;
        }
      }
    }
  }
}
