.background-e54b4b { background-color: #e54b4b;}
.text-e54b4b {color: #e54b4b;}
.background-5d3030 { background-color: #5d3030;}
.text-5d3030 {color: #5d3030;}
.background-e71515 { background-color: #e71515;}
.text-e71515 {color: #e71515;}
.background-d56767 { background-color: #d56767;}
.text-d56767 {color: #d56767;}
.background-bb3728 { background-color: #bb3728;}
.text-bb3728 {color: #bb3728;}
