
.background-1e0101 { background-color: #1e0101;}
.text-1e0101 {color: #1e0101;}
.background-0a0000 { background-color: #0a0000;}
.text-0a0000 {color: #0a0000;}
.background-0f0000 { background-color: #0f0000;}
.text-0f0000 {color: #0f0000;}
.background-190000 { background-color: #190000;}
.text-190000 {color: #190000;}
.background-e74b4b { background-color: #e74b4b;}
.text-e74b4b {color: #e74b4b;}
.background- { background-color: ;}
.text- {color: ;}
.background-f4f1f1 { background-color: #f4f1f1;}
.text-f4f1f1 {color: #f4f1f1;}
.background-020909 { background-color: #020909;}
.text-020909 {color: #020909;}
.background-313030 { background-color: #313030;}
.text-313030 {color: #313030;}
.background-ead134 { background-color: #ead134;}
.text-ead134 {color: #ead134;}
.background-5f3f3f { background-color: #5f3f3f;}
.text-5f3f3f {color: #5f3f3f;}
.background-9b8c8c { background-color: #9b8c8c;}
.text-9b8c8c {color: #9b8c8c;}
