/*
//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
*/
.footer {
	margin: 0px;
}

/* ------| Panel container |----- */
#mini-panel-footer {
	margin: 0 auto;
	padding: 40px 15px;
	@include respond-to(xxl) {
		max-width: 540px;
	}
	@include respond-to(m) {
		max-width: 750px;
	}
	@include respond-to(xl) {
		max-width: 970px;
		display: flex;
	}
	@include respond-to(xxxl) {
		max-width: 1170px;
	}
}

/* ------| Panel responsive |----- */
#mini-panel-footer {
	.panel-panel.panel-col-first {
		float: initial;
		width: 100%;
		@include respond-to(xl) {
			float: left;
			width: 30%;
		}
		.inside {
			margin: 0;
		}
	}
	.panel-panel.panel-col {
		float: initial;
		width: 100%;
		@include respond-to(xl) {
			float: left;
			width: 40%;
		}
	}
	.panel-panel.panel-col-last {
		float: initial;
		width: 100%;
		@include respond-to(xl) {
			float: left;
			width: 30%;
		}
	}
}



/* ------| Contactos Footer |----- */
.bean-bloque-footer-contacto {
	//Imagenes
	.group-header {
    float: left;
    width: 100%;
		display: flex;
		.field-name-field-imagen,
		.field-name-field-image-sublogo {
			width: 100%;
			max-width: 140px;
			padding-right: 15px;
			display: block;
			float: left;
			.field-label {
				display: none;
			}
			img {
				max-width: 140px;
				display: block;
			}
		}
	}
	//Direccion
	.group-left {
		width: 100%;
		padding-top: 25px;
		@include respond-to(xl) {
			width: 50%;
		}
		.field-name-field-direccion,
		.field-name-field-ciudad-pais {
			margin-bottom: 16px;
			.field-label {
				display: none;
			}
			.field-item {
				font-family: $latoregular;
				color: #fff;
		   @include font-size(s);
		    line-height: normal;
		    text-align:  left;
				margin-bottom: 10px;
		  }
		}
		.field-name-field-zipcode {
			display: flex;
			justify-content: left;
			font-family: $latoregular;
			color: #fff;
			@include font-size(s);
	    line-height: normal;
			.field-label {
				white-space: nowrap;
				padding-right: 5px;
			}
		}
	}
	//Telefonos
	.group-right {
		width: 100%;
		@include respond-to(xl) {
			width: 50%;
		}
		.field-name-field-telefono {
			background: #232323;
			padding: 20px 40px;
			margin: 40px -15px 0;
			@include respond-to(xl) {
				margin: 0;
				padding: 0;
				background: transparent;
				padding-top: 20px;
			}
			&:before {
				content: '';
				display: inline-block;
				background: url('../img/Icon/ico-contact.png') center no-repeat;
				width: 25px;
				height: 30px;
				position: relative;
				top: 0;
				@include respond-to(xl) {
					display: none;
				}
			}
			.field-label {
				display: none;
			}
			.field-items {
				display: inline-block;
				padding-left: 5%;
				.field-item {
					font-family: $latoregular;
					color: #fff;
					@include font-size(s);
					line-height: 1;
					margin-bottom: 10px;
					text-align: left;
					white-space: nowrap;
				}
			}
		}
	}
}

/* ------| Enlaces  Footer |----- */
#block-panels-mini-footer {
	@include respond-to(xl) {
		border-top: 1px solid #222;
	}
}

.pane-menu-menu-enlaces-de-interes {
	@include respond-to(xl) {
		border-left: 1px solid #222;
		border-right: 1px solid #222;
	}

	.menu.nav {
		.open > a,
		.nav .open > a:hover {
			background-color: transparent;
		}
		.first.dropdown,
		.last.dropdown {
			width: 100%;
			float: left;
			@include respond-to(xl) {
				padding: 0 15px;
			}
			@include respond-to(xl) {
				width: 50%;
			}
			@include respond-to(xl) {
				&:before {
					content: '';
					width: 50%;
					height: 1px;
					position: relative;
					display: block;
					top: 0px;
					border-top: 1px solid #ffef00;
				}
			}
			a.dropdown-toggle {
				color: color('white');
				cursor: default;
				text-decoration: none;
				text-transform: uppercase;
				background-color: transparent;
				padding: 0px;
				margin: 20px 0 8px;
				box-shadow: none;
				.caret {
					display: none;
				}
			}
			.dropdown-menu {
				position: static;
				display: block;
				background-color: transparent;
				border: initial;
				border-radius: 0;
				box-shadow: none;
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					padding: 5px 0px;
					a {
						display: block;
						font-family: $latolight;
						@include font-size(xs);
						color: #818181;
						text-transform: initial;
						background-color: transparent;
						padding: 0;
						white-space: normal;
						&:hover {
							color: #fff;
							text-decoration: none;
							background-color: transparent,
						}
					}
				}
			}
		}
	}
}

/* ------| Redes Sociales |----- */
.view-id-footer_redes_sociales {
	padding-top: 20px;
	@include respond-to(xl) {
		padding-left: 15px;
	}
	h3 {
		color: color('white');
		@include font-size(s);
		text-transform: uppercase;
		margin: 0 0 8px;
	}
	.views-row {
		display: block;
    float: left;
    padding: 5px 5px 5px 0;
    width: 30px;
    height: 30px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	}
}

/* ------| copyright |----- */
.copyright {
	padding: 20px 0;
	p {
		font-family: $latoregular;
		color: #818181;
    margin: 0;
    @include font-size(xxs);
	}
}
