/*
//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
*/
footer.footer {
	margin: 0px;
	// /* ------| Panel container & |----- */
	#mini-panel-footer {
		margin: 0 auto;
		// padding: 40px 15px;
		@include respond-to(xxl) {
			max-width: 540px;
		}
		@include respond-to(m) {
			max-width: 750px;
		}
		@include respond-to(xl) {
			max-width: 970px;
			display: flex;
		}
		@include respond-to(xxxl) {
			max-width: 1170px;
		}
	}
	#block-panels-mini-footer {
		@include respond-to(xl) {
			border-top: 1px solid #222;
		}
	}
	.inside {
		margin: 0px;
	}
	// /* ------| Defaul Panel responsive |----- */
	#mini-panel-footer {
		.panel-panel.panel-col-first {
			float: initial;
			width: 100%;
			padding-bottom: 40px;
			@include respond-to(m) {
				float: left;
				width: 38%;
				padding: 15px;
			}
			.inside {
				margin: 0;
			}
		}
		.panel-panel.panel-col {
			float: initial;
			width: 100%;
			@include respond-to(m) {
				float: left;
				width: 40%;
			}
		}
		.panel-panel.panel-col-last {
			float: initial;
			width: 100%;
			@include respond-to(m) {
				float: left;
				width: 22%;
			}
			.inside {
				margin: 0;
			}
		}
	}
	// /* ------| Contactos Footer |----- */
	.bean-bloque-footer-contacto {
		//Imagenes
		.group-header {
			display: flex;
			justify-content: center;
			padding: 40px 0px;
			div[class*="field-name-field-image"] {
				.field-label,
				.element-invisible {
					display: none;
				}
				figure {
					max-width: 230px;
					margin: auto;
					img {
						width: 100%;
						max-width: 150px;
						max-height: 50px;
					}
				}
			}
			> div:nth-child(2){
				padding-left: 15px;
			}
			div.field-name-field-imagen {
				position: relative;
				.content figure::after {
					content: '';
					position: absolute;
					display: block;
					bottom: -15px;
					height: 1px;
					width: 50%;
					margin: 0 auto;
					border-top: 1px solid #ffef00;
				}
			}
		}
		//Direccion
		.group-left {
			width: 100%;
			// padding-top: 25px;
			padding: 0 40px;
			@include respond-to(m) {
				padding: 0 0 10px;
			}
			@include respond-to(xl) {
				width: 50%;
			}
			.field {
				.field-item  {
					font-family: $latolight;
					color: #fff;
					@include font-size(s);
					line-height: 1;
					text-align:  left;
					margin-bottom: 10px;
					@include respond-to(m) {
						text-align:  center;
					}
				}
				.field-label {
					display: none;
				}
				&.field-name-field-zipcode {
					display: flex;
					justify-content: left;
					font-family: $latolight;
					color: #fff;
					@include font-size(s);
					line-height: 1;
					@include respond-to(m) {
						justify-content: center;
					}
					.field-label {
						display: block;
					}
				}
			}
		}
		//Telefonos
		.group-right {
			width: 100%;
			@include respond-to(xl) {
				width: 50%;
			}
			.field-name-field-telefono {
				position: relative;
				background: #232323;
				padding: 10px 40px;
				margin: 40px 0px 0px;
				@include respond-to(m) {
					margin: 0;
					padding: 0;
					background: transparent;
				}
				&:before {
					content: '';
					display: inline-block;
					background: url('../img/Icon/ico-contact.png') center no-repeat;
					width: 25px;
					height: 30px;
					position: absolute;
					top: 50%;
					transform: translate3d(0, -50%, 0);
					@include respond-to(m) {
						display: none;
					}
				}
				.field-label {
					display: none;
				}
				.field-items {
					display: inline-block;
					padding-left: 40px;
					width: 100%;
					@include respond-to(m){
						padding-left: 5%;
					}
					.field-item {
						font-family: $latoregular;
						color: #fff;
						@include font-size(s);
						line-height: 1;
						margin-bottom: 10px;
						text-align: left;
						white-space: nowrap;
						@include respond-to(m) {
							text-align: center;
						}
					}
				}
			}
		}
	}
	// /* ------| Enlaces  Footer |----- */
	.pane-menu-menu-enlaces-de-interes {
		padding: 0 35px;
		@include respond-to(m) {
			padding: 75px 15px 0;
			border-left: 1px solid #222;
			border-right: 1px solid #222;
		}
		@include respond-to(xl) {
			padding: 65px 15px 0;
		}
		.menu.nav {
			padding: 0 0 10px;
			margin-bottom: 20px;
			.open > a,
			.nav .open > a:hover {
				background-color: transparent;
			}
			.first.dropdown {
				padding: 0 0 10px;
    		margin-bottom: 20px;
			}
			.last.dropdown {
				padding: 10px 0;
			}
			.first.dropdown,
			.last.dropdown {
				width: 100%;
				float: left;
				background-color: transparent;
				border: none;
				@include respond-to(xl) {
					padding: 0 15px;
				}
				@include respond-to(xl) {
					width: 50%;
				}
				@include respond-to(m) {
					margin-bottom: 30px;
					&:before {
						content: '';
						display: block;
						position: relative;
						top: -18px;
						width: 50%;
						height: 1px;
						border-top: 1px solid #ffef00;
					}
				}
				a.dropdown-toggle {
					color: color('white');
					cursor: default;
					text-decoration: none;
					text-transform: uppercase;
					background-color: transparent;
					padding: 0px;
					margin: 20px 0px;
					box-shadow: none;
					.caret {
						display: none;
					}
				}
				.dropdown-menu {
					position: static;
					display: block;
					background-color: transparent;
					border: none;
					border-radius: 0;
					box-shadow: none;
					margin: 0;
					padding: 0;
					li {
						list-style: none;
						padding: 5px 0px;
						a {
							display: block;
							font-family: $latoregular;
							@include font-size(s);
							color: #818181;
							line-height: 1;
							text-transform: initial;
							background-color: transparent;
							padding: 0;
							white-space: normal;
							&:hover {
								color: #fff;
								text-decoration: none;
								background-color: transparent,
							}
						}
					}
				}
			}
		}
	}
	// /* ------| Redes Sociales |----- */
	.view-id-footer_redes_sociales {
		padding: 0 35px;
		@include respond-to(m) {
			padding: 75px 15px 0;
		}
		@include respond-to(xl) {
			padding: 65px 15px 0;
		}
		&::before {
			content: '';
			position: relative;
			display: block;
			top: -18px;
			height: 1px;
			width: 50%;
			border-top: 1px solid #ffef00;
		}
		h3 {
			color: color('white');
			@include font-size(s);
			text-transform: uppercase;
			margin: 20px 0px;
		}
		.views-row {
			display: inline-block;
			padding: 2px;
			@include respond-to(m) {
				padding: 5px;
			}
			.img-responsive{
				width: 29px;
				height: 29px;
			}
		}
	}
	// /* ------| copyright |----- */
	.copyright {
		padding: 40px 20px;
		div[class*="col-"] {
			padding: 0px;
		}
		p {
			font-family: $latoregular;
			@include font-size(a);
			line-height: 1.2;
			color: #818181;
			margin: 0;
		}
	}
}

