/*
//------------------------------------------------------------------------------
// Mobil
//------------------------------------------------------------------------------
*/
header {
  margin: 0px !important;
  border: none !important;
  background: none !important;
  min-height: auto !important;
  margin: 0px !important;
}

@media (max-width: 991px) {
  //al desplegar el menu no se pueda hacer scroll
  body.active-menu {
    background-color:black;
    .navbar-collapse.collapse.in {
      position: relative !important;
      top: 0;
    }
    >.main-container.container-fluid,
    .footer.container-fluid {
      display: none;
    }
  }
  header .container-fluid {
    border: none;
    overflow: initial;
    // */ ----| button de menu |---- */
    .navbar-header {
      width: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 999;
      float: left;
      margin: 0 !important;
      // imagen facultad
      .wrapper-header-up {
        // height: 60px;
        background-color: black;
        padding: 10px 0 5px;
        a {
          padding-right: 15px;
          padding-left: 15px;
          display: block;
          p {
            margin: 0px;
            svg {
              width: 120px;
              height: auto;
              max-height: 48px;
              display: block;
              fill: color('white');
            }
          }
        }
      }
      // Logo institucional
      .wrapper-header-color {
        height: 60px;
        a {
          float: left;
          margin: 0.9% 20px;
          p {
            margin: 0px;
            svg {
              width: 120px;
              height: auto;
              max-height: 48px;
              display: block;
            }
          }
        }
      }
      // button de menu
      .navbar-toggle {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 20px;
        margin-top: 18px;
        border: none;
        border-radius: 0px;
        padding: 0px;
        background: url(../img/Icon/icon-menu-mobile.png) no-repeat;
        background-size: cover;
        background-color: transparent;
        box-shadow: none;
        overflow: hidden;
        transition: .3s;
        &[aria-expanded="true"] {
          background-position-y: -20px;
        }
        &:hover,
        &:focus {
          background-color: transparent;
        }
        span {
          display: none;
        }
      }
    }
    // */ ----| contenedor de todo el menu |---- */
    > .navbar-collapse {
      display: none !important;
      padding: 0px;
      height: 0px !important;
      border: none;
      box-shadow: none;
      transition: .3s;
      &.in {
        width: 100%;
        height: 100% !important;
        background-color:black;
        position: fixed;
        top: 60px;
        left: 0px;
        display: block !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        margin: 0 !important;
        border: none;
        box-shadow: none;
        padding: 0px;
        transition: .3s;
        nav,
        .region-navigation {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
      &.collapsing {
        transition: none !important;
      }
    }
    // */ ----| Reset De Menu  |---- */
    .tb-megamenu {
      >.nav-collapse {
        //Cuando esta activo
        &.in {
          position: static;
          height: auto !important;
          margin: 0px;
        }
        &.collapsing {
          transition: none !important;
        }
        ul.level-0 {
          // margin: 0;
          float: none;
          li.level-1 {
            float: none;
            //padres con hijos
            &.dropdown {
              //Ocultar Imagen y megamenu-subnav
              .content-img,
              .tb-megamenu-submenu {
                display: none !important;
              }
            }
            // reset de enlaces
            a {
              font-family: $latolight;
              font-size: 1.08rem;
              color: #696969 !important;
              background: transparent !important;
              border: none !important;
              text-align: center;
              padding: 9px 15px;
              // }
              &:hover,
              &:focus {
                background-color: transparent;
              }
              .caret {
                border: none
              }
            }
          }
        }
      }
    }
    // */ ----| Menu Soy  |---- */
    .wrapper-menu-soy {
      order: 3;
      //ocultar lenguaje y volver a institucional
      #block-lang-dropdown-language,
      #block-views-logos-header-block-2 {
        display: none;
      }
      //Bloque Menu Soy
      #block-tb-megamenu-menu-menu-top-soy {
        order: 1;
        .tb-megamenu {
          >.nav-collapse {
            ul.level-0 {
              li.level-1 {
                display: none;
                //Mostar solo padre con hijos y detacados
                &.dropdown {
                  display: block;
                }
                //Style Padre
                &.dropdown {
                  margin: 10px 0 30px;
                  > a {
                    color: #fff !important;
                    .caret {
                      width: 16px;
                      height: 14px;
                      float: right;
                      display: block !important;
                      background: url(../img/flechas-menu-soy.png) no-repeat 0px;
                      background-size: 36px;
                      transform: rotate(-90deg);
                      border: none;
                      margin: 0px;
                      margin-top: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      //Bloque de select
      .container-select-language,
      .container-select-top-soy {
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        margin-bottom: 16px;
        .block-title {
          display: none;
        }
        .title-language,
        .title-top-soy {
          position: absolute;
          top: 50%;
          left: 25px;;
          transform: translate3d(0, -50%, 0);
          z-index: 0;
        }
        select {
          width: 100% !important;
          height: 38px;
          font-family: $latoregular;
          color: #a8a8a8;
          font-size: .88rem;
          background: transparent url(../img/icon-flecha-abajo.png) no-repeat;
          background-size: 13px;
          background-position: 95% 50%;
          border: 1px solid #484848;
          border-radius: 0px;
          box-shadow: none;
          padding: 7px 10px 7px 30%;
          appearance: none;
        }
        //ocultar el clone de destock
        .container-language,
        .select-options {
          display: none;
        }
      }
      //Bloque de Menu destacados
      .container-destacados {
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        .menu-destacado {
          flex: 1 1 48%;
          margin-bottom: 10px;
          background: #313131;
          -ms-overflow-style: scroll;
          &:nth-child(even) {
            margin-left: 3%;
          }
          > a {
            display: block;
            font-family: $latoregular;
            font-size: .88rem;
            color: #fff;
            text-align: center;
            text-decoration: none;
            padding: 10px 0;

          }
        }
      }
    }
    // */ ----| Mega menu  |---- */
    .wrapper-mega-menu {
      order: 1;
      #block-views-logos-header-block,
      .barra-buscar {
        display: none;
      }
      .tb-megamenu-menu-mega-menu {
        .nav-collapse.always-show.collapse.in {
          &:after {
            content: "";
            width: 100%;
            height: 11px;
            display: block;
            background: url(../img/lines-menu-mobile.png) no-repeat center;
            background-size: 280px 11px;
          }
          .level-0 {
            margin: 15px 0;
          }
        }
      }
    }
    // */ ----| Menu Buscar  |---- */
    .wrapper-buscar-menu {
      order: 2;
      .block-title,
      #google-cse-results,
      label {
        display: none;
      }
      #google-cse-results-searchbox-form {
        position: relative;
        margin: 20px 0;
        .form-item input  {
          width: 100%;
          height: 40px;
          font-family: Lato, sans-serif;
          font-size: .88rem;
          color: #fff;
          background-color: #484848 !important;
          background-image: none !important;
          border: none;
          border-radius: 0;
          padding: 0 40px 0 20px;
          &:focus {
            border: none;
            box-shadow: none;
          }
        }
        button {
          position: absolute;
          top: 50%;
          right: 24px;
          transform: translate3d(0, -50%, 0);
          background: none ;
          border:none;
          padding: 0px;
          border-radius: 0px;
          font-size: 0px;
          &:before {
            content: '';
            width: 21px;
            height: 21px;
            display: block;
            background: url(../img/Icon/lupa-buscar-mobile.png) no-repeat;
            background-size: cover;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    // */ ----| Despliege Hijos Menu nivel 2|---- */
    .menu-container-data {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      top: 0px;
      right: -100%;
      z-index: 99;
      background: white;
      transition: .3s;
      &.active {
        display: block;
      }
      // Borde negro
      .box-black {
        width: 100%;
        // height: 60px;
        background: #1a1a1a;
        p {
          font-family: $latoregular;
          font-weight: 700;
          font-size: 1.05rem;
          color: #fff;
          padding: 20px 20px;
          &:after {
            content: '';
            width: 16px;
            height: 14px;
            position: absolute;
            right: 20px;
            background: url(../img/flechas-menu-soy.png) no-repeat -21px 1px;
            background-size: 36px 10px;
            transform: rotate(-90deg);
            margin: 0px;
            margin-top: 3px;
          }
        }
      }
      .container-items {
        ul {
          margin: 40px 6%;
          border-left: solid 1px #c8c8ca;
          padding: 0 20px;
          list-style: none;
          li {
            a {
              display: inline-flex;
              flex-wrap: wrap;
              font-family: $latolight;
              font-size: 1.08rem;
              color: #1a1a1a;
              line-height: 1.42857143;
              text-decoration: none;
              padding: 7px 20px 7px 0;
              .caret {
                border: none;
              }
            }
            &.dropdown-submenu {
              a {
                .caret{
                  width: 20px;
                  height: 14px;
                  background: url(../img/flechas-menu-soy.png) no-repeat 0px;
                  background-size: 36px;
                  transform: rotate(-90deg);
                  border: none;
                  margin: 0px;
                  margin-top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}