/*
//------------------------------------------------------------------------------
// Equipos
//------------------------------------------------------------------------------
*/

.view-equipo-de-trabajo {
  // tabs de equipos
  ul {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    list-style: none;
    // width
    &::-webkit-scrollbar {
      width: 2px;
    }
    // scroll
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    li {
      flex: 1 1 0;
      padding: 0 20px;
      text-align: center;
      .views-field {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      a {
        font-family: $latoregular;
        padding: 5px 4px;
        text-decoration: none;
        @include font-size(o);
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        a {
          color: #888;
          border-bottom: 3px solid color('blue-light');
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* ------| Equipos  |----- */
.view-contenido-equipo-de-trabajo {
  > .view-content {
    margin: 0px 0px 25px;
    overflow: hidden;
    .views-column {
      @media screen and (min-width: 555px) and (max-width: 767px) {
        width: 50%;
        float: left;
      }
    }
  }
}

.equipos-de-trabajo {
  margin-bottom: 15px;
  overflow: hidden;
  .content-equipo {
    position: relative;
    min-height: 1px;
    margin: 0 auto;
    float: left;
    width: 100%;
    @include respond-to(xl) {
      &:hover .caption {
        z-index: 2;
      }
    }
    // imagen
    .imagen {
      img {
        border-radius: 50%;
      }
    }
    // text
    .caption {
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      z-index: -2;
      @include respond-to(xl) {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 25px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.6);
      }
      .views-field {
        @include respond-to(xl) {
          color:  color('white');
        }
        color:  color('black');
        text-align: center;
        margin: 0;
        &:nth-child(1) {
          font-family: $latobold;
          @include font-size(m);
          line-height: 1;
          letter-spacing: 1px;
        }
        &:nth-child(2) {
          font-family: $latolight;
          @include font-size(m);
        }
        &:nth-child(3) {
          font-family: $latolight;;
          @include font-size(m);
        }
        &:nth-child(4) {
          font-family: $latolight;
          @include font-size(m);
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.text-center {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include respond-to(m) {
      width: 750px;
  }
  @include respond-to(xl) {
      width: 970px;
  }
  @include respond-to(xxxl) {
      width: 1170px;
  }
  ul.pagination {
    background: color('white');
    border-radius: 0;
    padding: 10px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      border-top: 1px solid color('orange');
      z-index: -1;
    }
    li {
      color: #484851;
      border: 1px solid color('white');
      border-radius: 0;
      background-color: color('white');
      display: block;
      float: left;
      margin: 0 5px;
      a {
        color: #484851;
        border: 1px solid color('white');
        font-family: Lato,sans-serif;
        border-radius: 0;
        background-color: color('white');
        .ajax-progress {
          display: none;
        }
      }
      &.active {
        border-color: color('orange');
        span {
          background-color: transparent;
          border-radius: initial;
          color: color('black');
          border: initial;
        }
      }
      &.next,
      &.prev,
      &.pager-last,
      &.pager-first {
        display: none;
      }
    }
  }
}



