/*
//------------------------------------------------------------------------------
// Componente Redes Sociales layout 1
//------------------------------------------------------------------------------
*/

.social-network-list.align-social-horizontal {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  border-top: 1px solid #ddd;
  padding: 20px 15px;
  list-style: none;
  li {
    cursor: pointer;
    &:hover {
      position: initial;
    }
    svg {
      padding: 4px;
    }
  }
}