/*
//------------------------------------------------------------------------------
// Componenete Multimedia Recientes
//------------------------------------------------------------------------------
*/

.view-display-id-multimedia_recientes {
  display: block;
  overflow: hidden;
  .view-content {
    ul {
      padding-inline-start: 0px;
      li.views-row {
        list-style: none;
        float: left;
        width: 100%;
        position: relative;
        background: #f4f1f1;
        margin: 10px 0;
        @include respond-to(xs) {
          width: 46.2%;
					margin: 0.7em;
					height: 500px;
        }
        @include respond-to(xl) {
          width: 30.6%;
					height: 567px;
        }
        @include respond-to(xxxl) {
          width: 23.2%;
        }
        //Img
        .views-field-view {
          border-bottom: 3px solid color('orange');
          img{
            width: 100%;
          }
          .youtube-container--responsive {
            padding-bottom: 62.25%;
          }
        }
        //Fecha
        .views-field-created {
          margin: 10px 0px;
          span {
            font-family: $latoregular;
            @include type-layout(xxs, 1.23);
            padding: 0 15px;
            color: color('orange');
          }
        }
        //Titulo
        .views-field-title {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(ll);
            @include margin(.9 0 1.042);
          }
        }
        //Body
        .views-field-body {
          font-family: $crimson-textregular;
          @include type-layout(m, 1.06);
          @include margin-bottom(.417);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(o);
          }
        }
        //Button
        .views-field-view-node {
          a {
            @include respond-to(xs) {
              position: absolute;
              bottom: 20px;
              right: 10px;
              margin: 0px;
            }
            border: 1px solid color('orange');
            font-family: $latolight;
            font-size: 15.3px;
            color: #484851;
            text-decoration: none;
            padding: 10px 30px;
            margin: 20px;
            outline: none;
            float: right;
            &:hover {
              background-color: color('orange');
              color: color('white')fff;
            }
          }
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.view-display-id-multimedia_recientes {
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: color('white');
      border-radius: 0;
      padding: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        border-top: 1px solid color('orange');
        z-index: -1;
      }
      li {
        color: #484851;
        border: 1px solid color('white');
        border-radius: 0;
        background-color: color('white');
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid color('white');
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: color('white');
          .ajax-progress {
            display: none;
          }
        }
        &.active {
          border-color: color('orange');
          span {
            background-color: transparent;
            border-radius: initial;
            color: color('black');
            border: initial;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
}
