/*
//------------------------------------------------------------------------------
// Componente Redes Sociales layout 1
//------------------------------------------------------------------------------
*/

.pane-udla-simplified-social-share{
  h2{
    display: none;
  }
}

.social-network-list.align-social-horizontal {
  display: flex;
  justify-content: center;
  // margin: 10px 0;
  // border-bottom: 1px solid #ddd;
  padding: 0 15px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  list-style: none;
  li {
    cursor: pointer;
    &:hover {
      position: initial;
    }
    svg {
      padding: 4px;
    }
  }
}