/* ------| noticias relacionadas |----- */
//.panel-pane.pane-panels-mini.pane-noticias-relacionadas-layout-2.container {
  //border: 1px solid chocolate;
//}

.view-display-id-noticias_relacionadas {
	padding-top: 40px;
	padding-bottom: 60px;
	.swiper-container-horizontal {
		@include respond-to(xl) {
			width: 90%;
			margin: 0 auto;
			padding: 0 10px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li {
				//Imagenes
				.views-field-view {
					img{
						width: 100%;
					}
					.youtube-container--responsive {
						padding-bottom: 62.25%;
					}
				}
				.box-content {
					position: relative;
					padding: 25px;
					border-top: 3px solid #ff8827;
					background: #f4f1f1;
					min-height: 364px;
					//Fecha
					.content-date {
						color: color('orange');
						.views-field-created {
							font-family: $latoregular;
							@include type-layout(xs, 1.23);
							padding: 5px 0px;
						}
					}
					//Titulo
					.views-field-title {
						margin: 15px 0 20px;
						span,
						a {
							font-family: $crimson-semibold;
							@include type-layout(sl, .90);
							text-decoration: none;
							@include respond-to(m) {
								@include font-size(ll);
							}
						}
					}
					//Body
					.views-field-body {
						font-family: $crimson-textregular;
						@include font-size(m);
						margin-bottom: 16px;
						@include respond-to(xs) {
							height: 7pc;
						}
					}
					//Button
					.views-field-view-node {
						a {
							display: block;
							width: 180px;
							font-family: $latoregular;
							@include font-size(m);
							color: color('grey-dark');
							text-decoration: none;
							text-align: center;
							border: 1px solid color('orange-primary');
							padding: 10px 20px;
							margin: 0 auto;
							outline: none;
							position: absolute;
							bottom: 25px;
							right: 0;
							left: 0;
							@include respond-to(xs) {
								right: 25px;
								left: inherit;
								max-width: 150px;
							}
							&:hover {
								background-color: color('orange-primary');
								color: color('white');
							}
						}
					}
				}
			}
		}
	}
}

/* ------| Flechas paginador |----- */
.view-display-id-noticias_relacionadas {
	.skin-default {
		position: relative;
		.slideshow-controls-top,
		.views-slideshow-controls-bottom {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 40px 40px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 40px 40px;
				}
			}
		}
	}
}

/* ------| Puntos Slider |----- */
.view-display-id-noticias_relacionadas {
	.views-slideshow-pager-field-processed {
		@include bullet(orange, white, orange, orange );
		// @include respond-to(xl) {
		// 	display: none;
		// }
	}
}

.youtube-container--responsive{
	background-color: color('black');
}