/*
//------------------------------------------------------------------------------
// Componente Redes Sociales layout 1
//------------------------------------------------------------------------------
*/
.share-container {
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #ddd;
  .more,
  .os-share-more {
    display: none;
  }
}