/*
//------------------------------------------------------------------------------
// Multimedia
//------------------------------------------------------------------------------
*/

.view-id-componente_layout_4 {
  // max-width: 1140px;
  .view-content {
    .views-row {
      height: 302px;
      position: relative;
      display: block;
      margin: 10px 0px;
      overflow: hidden;
      transition: .4s;
      &::before {
        content: '';
        background-color: color('black');
        opacity: .5;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
      }
      @include respond-to(m) {
        float: left;
        margin: 10px 5px;
        width: 48.6%;
      }
      @include respond-to(xl) {
        width: 32.2%;
      }
      .container-image-video {
        img {
          width: 100%;
          height: -webkit-fill-available;
          z-index: -1;
        }
      }
      .container-title-desc {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .caja-titulo {
          font-family: $latoblack;
          @include font-size(l);
          text-transform: uppercase;
          color: color('white');
          text-align: center;
          margin: 20px 0;
        }
        .caja-body {
          font-family: $crimson-textregular;
          @include type-layout(l, .96);
          color: color('white');
          text-align: center;
        }
        .caja-enlace {
          padding: 5px 0;
          @include respond-to(xl) {
            display: none;
          }
          a {
            display: block;
            max-width: 181px;
            font-family: $latolight;
            @include font-size(m);
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 8px 20px;
            margin: 0 auto;
            border: 1px solid color('white');
            background-color: color('black');
            &:hover {
              background: #fff;
              color: color('grey-dark');
            }

          }
        }
      }

      @include respond-to(xl) {
        &:hover {
          .caja-enlace {
            display: block;
            a {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 10px;
              transition: .3s;
              z-index: 2;
            }
          }
          &::after {
            content: '';
            border: 1px solid #fff;
            width: 90%;
            height: 85%;
            position: absolute;
            top: 7px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 1;
          }
        }
      }
    }
  }
}