/*
//------------------------------------------------------------------------------
// Componente filas taps
//------------------------------------------------------------------------------
*/

.view-id-componente_acordeon {
  .quicktabs-tabs.quicktabs-style-nostyle {
    display: flex;
    overflow-x: scroll;
    padding: 30px 0;
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }
    /* Cuadro */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      // background: #f1f1f1;
    }
    /* scroll */
    &::-webkit-scrollbar-thumb {
      // border-radius: 10px;
      background: #888;
    }
    a {
      // display: block;
      color: #bbb;
      text-align: center;
      text-decoration: none;
      border-radius: 0;
      border: 1px solid transparent;
      border-top: 2px solid transparent;
      cursor: pointer;
      padding: 0;
      padding: 15px;
      margin: 0;
      &:hover {
        color: #555;
        background: #fff;
        border: 1px solid #ddd;
        border-top: 2px solid orange;
        border-bottom: 1px solid transparent;
      }
    }
  }
  .quicktabs_main.quicktabs-style-nostyle {
    padding: 25px;
    p {
      font-family: $crimson_textregular;
      @include font-size(m);
    }
  }
}
