/*
//------------------------------------------------------------------------------
// Multimedia
//------------------------------------------------------------------------------
*/

/* ------| Conten mini panel |----- */
.pane-componente-slider-multimedia {
	.pane-content {
		.panel-col-first {
			width: 100%;
			@include respond-to(xl) {
				width: 50%;

			}
		}
		.panel-col-last {
			display: none;
			@include respond-to(xl) {
				display: block;
			}
		}
	}
}
/* ------| Multimedia |----- */
.view-display-id-multimedia_destacada {
	display: none;
	@include respond-to(xl) {
		display: block;
	}
	margin: 0 auto;
	padding: 15px;
	position: relative;
	border: 1px solid #006135;
	ul {
		-webkit-padding-start: 0px;
		height: 380px;
		li.swiper-slide {
	    list-style: none;
			//video
			.view-display-id-default {
				.views-field-field-video-banner {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			//img
			.views-row {
				overflow: hidden;
				.views-field-view {
					width: 40%;
					float: left;
					padding-right: 20px;
					img {
						width: 100%;
					}
				}
				a {
					text-decoration: none;
					.container-multimedia {
						//date
						.multimedia-date {
							font-family: $latoregular;
							@include font-size(xxs);
							color: color('grey-dark');
						}
						//titulo
						.multimedia-titulo {
							font-family: $crimson-textroman;
							@include type-layout(l, 1.16);
							color: color('green-Primary');
							margin-bottom: 14px;
							&:hover {
								text-decoration-line: underline;
							}
						}
					}
				}
			}
		}
	}
}

/* ------| Flechas paginador |----- */
.view-display-id-multimedia_destacada {
	.skin-default {
		position: relative;
		.views-slideshow-controls-bottom,
		.views-slideshow-controls-top {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: inline-flex;
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					top: inherit;
					left: 2%;
					bottom: -28px;
					transform: rotate(-90deg);
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					border: 1px solid #777;
					background-color: color('white');
					z-index: 2;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					left: 12%;
					top: inherit;
					bottom: -28px;
					transform: rotate(-90deg);
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-color: white;
					border: 1px solid #777;
					z-index: 2;
				}
			}
		}
	}
}
/* ------| Multimedia swioe horizontal movil |----- */
.view-display-id-multimedia_destacada_mobile {
	@include respond-to(xl) {
		display: none;
	}
	.swiper-container-horizontal {
		width: 90%;
		margin: 0 auto;
		ul {
			-webkit-padding-start: 0px;
			li {
				.views-field-view {
					img{
            width: 100%;
          }
          .youtube-container--responsive {
            padding-bottom: 63.25%;
          }
				}
				//Fecha
				.views-field-created {
					margin: 15px 0;
					text-align: center;
					span {
						font-family: $latoregular;
						@include font-size(s);
						color: color('grey-dark');
					}
				}
				//title
				.views-field-title {
					text-align: center;
					a {
						font-family: $crimson-textroman;
						@include type-layout(l, 1.16);
						color: color('green-Primary');
						margin-bottom: 14px;
					}
				}
			}
		}
	}
}

/* ------| Bules swper |----- */
.view-display-id-multimedia_destacada_mobile {
	.views-slideshow-controls-bottom,
	.views-slideshow-controls-top {
		display: block;
		.views-slideshow-pager-field-processed {
			@include bullet(green-Primary, grey-secundary, green-Primary, green-Primary );
			@include respond-to(xl) {
				display: none;
			}
		}
	}
}


/* ------| Multimedia Reproduccion |----- */
.view-display-id-multimedia_destacada_unica {
	padding-left: 20px;
	//img
	.view-id-componente_noticias_item {
		img {
			width: 100%;
			height: 100%,
		}
	}
	//titulo
	.multimedia-conponente-titulo {
		margin: 20px 0 10px;
		a {
			font-family: $crimson-textroman;
			@include type-layout(ll, 1.16);
			color: color('green-Primary');
			margin-bottom: 14px;
			font-weight: 400;
		}
	}
	//body
	.multimedia-conponente-body {
		div p {
			font-family: $crimson-textregular;
			@include type-layout(o, 1.1);
		}
	}
	//button
	.multimedia-conponente-enlace {
		@extend %link-slider-home;
	}
}
