/*
//------------------------------------------------------------------------------
// Componente Multimedia
//------------------------------------------------------------------------------
*/

/* ------| slider-vertical-destacados |----- */
.slider-vertical-destacados {
	display: none;
	@include respond-to(xl) {
		display: block;
	}
	margin: 0 auto;
	padding: 15px 0;
	width: 96%;
	position: static;
	margin-bottom: 40px;
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		right: 0px;
		border: 1px solid color('orange-primary');
		width: 95%;
		height: 96%;
		margin: 0 auto;
		z-index: 0;
	}
	ul {
		list-style: none;
		padding: 0px;
		height: 380px;
		margin-bottom: 29px;
		li.swiper-slide {
			//video
			.view-display-id-default {
				.views-field-field-video-banner {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			//img
			.views-row {
				overflow: hidden;
				.views-field-nid,
				.views-field-view {
					width: 40%;
					float: left;
					padding-right: 20px;
					img {
						width: 100%;
					}
				}
				//titulo
				.views-field-title,
				.multimedia-titulo {
					a {
						font-family: $crimson-textroman;
						@include type-layout(s, 1.16);
						color: color('grey-dark');
						@include respond-to(xxxl) {
							@include font-size(l);
						}
						&:hover {
							text-decoration-line: underline;
						}
					}
					margin-bottom: 5px;
				}
				.views-field-body,
				.multimedia-body {
					font-size: 11.6px;
					@include respond-to(xxxl) {
						@include font-size(s);
					}
					width: 60%;
					margin-left: 40%;
					.field-content{
						display: grid;
					}
				}
				.views-field{
					.view-content{
						max-width: 416px;
						max-height: 86px;
						min-height: inherit;
						height: 6vw;
						margin: 0 auto;
						.img-responsive{
							width: 100%;
						}
					}
				}
			}
		}
	}
	// Flechas paginador
	.swiper-button-prev {
		font-size: 0;
		width: 38px;
		height: 40px;
		position: absolute;
		top: inherit;
		left: 0px;
		bottom: -1px;
		transform: rotate(-90deg);
		background: url('../img/Icon/arrow_prev-orange.svg') no-repeat center;
		border: 1px solid color('orange-primary');
		background-color: color('white');
		z-index: 2;
	}
	.swiper-button-next {
		font-size: 0;
		width: 38px;
		height: 40px;
		position: absolute;
		left: 45px;
		top: inherit;
		bottom: -1px;
		transform: rotate(-90deg);
		background: url('../img/Icon/arrow_next-orange.svg') no-repeat center;
		background-color: white;
		border: 1px solid color('orange-primary');
		z-index: 2;
	}
	.swiper-button-prev.swiper-button-disabled,
	.swiper-button-next.swiper-button-disabled {
		background-color: #ddd;
		border: 1px solid #ddd;
		background-image: url(../img/Icon/slide-prev.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px;
		opacity: initial;
	}
	.swiper-button-next.swiper-button-disabled {
		transform: rotate(90deg);
	}
}

/* ------| Button Ver Todas las noticias |----- */
.view-display-id-multimedia_destacada {
	position: relative;
	.view-footer {
		a {
			display: none;
			position: absolute;
			right: 16px;
			bottom: -41px;
			font-family: $latoregular;
			@include font-size(m);
			color: color('grey-dark');
			text-decoration: none;
			border: 1px solid color('orange-primary');
			padding: 10px 20px;
			background: color('white');
			z-index: 1;
			@include respond-to(xl){
				display: inline-block;
			}
			&:hover {
				background: color('orange-primary');
				color: color('white')
			}
		}
	}
}

// /* ------| ocultar flechas en mobile |----- */
// .view-display-id-home_noticias_destacadas_mobile {
// 	.swiper-button-prev,
// 	.swiper-button-next{
// 		display: none;
// 	}
// }

/* ------| Multimedia Màs Recientes |----- */
.slider-vertical-destacados-mas-recientes {
	display: none;
	padding-left: 20px;
	@include respond-to(xl) {
		display: block;
	}
	.box-content {
		float: left;
    width: 80%;
    padding-top: 15px;
		//img
		.views-field-view {
			img {
				width: 100%;
				height: 100%,
			}
		}
		//titulo
		.views-field-title {
			margin-bottom: 8px;
			span,
			a {
				font-family: $crimson-semibold;
				@include type-layout(ll, 1.16);
				color: color('grey-dark');

				font-weight: 400;
			}
		}
		//body
		.views-field-body {
			div p {
				font-family: $crimson-textregular;
				@include type-layout(ms, 1.1);
			}
		}
	}
	.button_enlace {
		float: right;
    padding-top: 0;
    background: transparent;
    border: none;
    top: 20px;
    position: relative;
		//button
		.views-field-view-node {
			a {
				display: block;
				max-width: 300px;
				text-align: center;
				text-decoration: none;
				background: color('white');
				color: color('grey');
				border: 1px solid color('orange-primary');
				font-family: $latoregular;
				@include margin(1.4 auto 0);
				@include padding (.42 1.25);
				@include respond-to(m) {
					float: right;
					@include margin(.21 auto);
					//margin: 5px auto;
				}
				&:hover {
					background: color('orange-primary');
					color: color('white');
				}
			}
		}

	}
}

/* ------| Multimedia swiper horizontal mobil |----- */
//contendor de swiper
.slider-vertical-destacados-mobil {
	@include respond-to(xl) {
		display: none;
	}
	ul {
		padding: 0px;
		list-style: none;
		li {
			.views-field-view {
				background: color('black');
				@include respond-to(xxs) {
					width: 80%;
					display: block;
					margin: 0 auto;
				}
				img{
					width: 100%;
				}
				.youtube-container--responsive {
					padding-bottom: 63.25%;
				}
			}
			//contenedor caja
			.box-content {
				padding: 25px 0 0;
				text-align: center;
				margin: 0 auto;
				width: 80%;
				-webkit-box-sizing: content-box;
				box-sizing: content-box;
				//Fecha
				.views-field-created {
					margin: 15px 0;
					text-align: center;
					span {
						font-family: $latoregular;
						@include font-size(s);
						color: color('grey-dark');
					}
				}
				//title
				.views-field-title {
					text-align: left;
					margin: 20px 0;
					a {
						font-family: $crimson-semibold;
						@include type-layout(l, 1.25);
						color: color('grey-dark');
						margin-bottom: 14px;
						text-transform: uppercase;
					}
				}
				// body
				.views-field-body {
					font-family: $crimson-textregular;
					@include font-size(ms);
					text-align: center;
					text-decoration: none;
					color: color('grey-dark')
				}
			}
		}
	}
}

/* ------| Bules swper |----- */
.pane-componente-slider-multimedia {
	.inside{
		.panels-bootstrap-column:nth-child(2){
			display: none;
			@include respond-to(xl){
				display: block;
			}
		}
	}
}

.pane-componente-slider-multimedia {
	.container{
		margin-bottom: 30px;
		padding: 0;
	}
}

