/*
//------------------------------------------------------------------------------
// Publicaciones
//------------------------------------------------------------------------------
*/
.wrapper-slider-com-publicaciones {
	@include respond-to(xl) {
		width: 90%;
		margin: 0 auto;
	}
	ul {
    padding: 0px;
		li.swiper-slide {
			display: block;
			//Imagenes
			.publicaiones-img-desktop {
				.content {
					margin: 0 auto;
					img {
						width: 100%;
					}
				}
			}
			// wapper
			.box-content {
				position: relative;
				text-align: center;
				min-height: 392px;
				// border: 1px solid red;
				@include respond-to(m) {
					padding: 15px 0;
				}
				//titulo
				.views-field-title {
					margin: 20px 0 25px;
					text-align: left;
					a,
					span {
						font-family: $crimson-semibold;
						@include font-size(sl);
						font-size: 1.25rem;
						line-height: 1;
						text-decoration: none;
						padding: 0;
					}
				}
				//body
				.views-field-body {
					font-family: $crimson-textregular;
					@include font-size(ms);
					color: color('grey-dark');
					line-height: normal;
					text-align: left;
				}
				// button
				.views-field-view-node {
					a {
						width: 100%;
						display: block;
						font-family: $latoregular;
						color: color('grey-dark');
						text-decoration: none;
						text-align: center;
						background: transparent;
						border: 1px solid #e34d1f;
						padding: 10px 20px;
						z-index: 1;
						max-width: 190px;
						margin: 20px auto 0;
						// position: absolute;
						// bottom: 25px;
						// right: 0;
						// left: 0;
						@include respond-to(xs) {
							position: absolute;
							bottom: 25px;
							left:  50%;
							transform: translate3d(-50%, 0, 0);
							// right: 25px;
							// left: inherit;
							max-width: 150px;
						}
						&:hover {
							background-color: #e55d12;
							color: #ffffff;
						}
					}
				}

			}
		}
	}
	.swiper-button-next, .next-pagination{
		right: 0px;
		left: auto;
		background: url(../img/Icon/arrow_next.svg) no-repeat center;
	}
	.swiper-button-prev, .prev-pagination{
		right: auto;
		left: 0;
		background: url(../img/Icon/arrow_prev.svg) no-repeat center;
	}
	.swiper-button-next, .swiper-button-prev, .next-pagination, .prev-pagination{
		width: 40px;
		height: 40px;
		position: absolute;
		top: calc(50% - 20px);
		border: 1px solid #777;
		display: none;
		font-size: 0;
		@include respond-to(l) {
			display: block;
		}
	}
	.swiper-button-disabled{
		opacity: 0.35;
		cursor: auto;
		pointer-events: none;
	}
}




