/*
//------------------------------------------------------------------------------
// Carrucel Multimedia
//------------------------------------------------------------------------------
*/

.pane-componente-carrusel-multimedia{
	width: 100%;
	padding: 0;
	margin-bottom: 100px;
	.pane-title{
		padding: 0 15px;
	}
}

.view-componente-carrusel-multimedia {
	.viewsSlideshowCycle-processed {
		overflow: hidden;
		margin: 10px 0 20px;
		.views-slideshow-cycle-main-frame {
			height: 50vw;
			margin: 0 auto;
			width: 100%;
			background-color: color('grey-secundary');
			@include respond-to(xl){
				width: 80% !important;
				max-width: 1000px;
				height: 450px;
			}
			> div {
				height: 100% !important;
				width: 100% !important;
			}
			.views-slideshow-cycle-main-frame-row  {
				// width: 100% !important;
				// height: 100% !important;
				// z-index: 0 !important;
				// position: static !important;
				.views-slideshow-cycle-main-frame-row-item {
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					// display: inline-flex;
					// width: 100%;
					// height: 100%;
					.views-field-field-slider-principal-items {
						display: none;
					}
					.views-field.views-field-view {
						// width: 100%;
						.view-id-componente_noticias_item {
							 // width: 100%;
							 // height: 100%;
							.view-content {
								.youtube-container--responsive,
								img  {
									position: absolute;
									height: 100%;
									width: 100%;
									padding-bottom: 0px;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	.views-slideshow-controls-bottom {
		width: 90%;
		margin: 0 auto;
		@include respond-to(xl){
			max-width: 1140px;
		}
		.views-slideshow-pager-fields  {
			padding: 24px 10px;
			display: flex;
			justify-content: stretch;
			align-items: center;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			background-color: color('Yellow-secundary');

			@include respond-to(xxs) {
				padding: 12px 10px;
			}
			&:after{
				content: " ";
				height: 1px;
				width: 1px;
				flex: 0 0 1px;
			}
			.active img{
				border: 0px solid transparent;
			}
			.views-slideshow-pager-field-item {
				flex: 1 0 43%;
				height: 80px;
				position: relative;
				overflow: hidden;
				margin: 0 4px;
				display: block;
				padding: 0;
				cursor: pointer;
				&:after{
					display: block;
					content: " ";
					clear: both;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					z-index: 1;
					background-color: rgba(0,0,0,.6);
					opacity: 1;
					transition: all ease-out .4s;
					user-select: none;
					pointer-events: none;
				}
				&:hover,
				&.active{

					&:after{
						opacity: 0;
					}
				}
				@include respond-to(xxs) {
					margin: 0 15px;
					height: 20vw;
				}
				@include respond-to(m) {
					margin: 0 18px;
					height: 19vw;
				}
				@include respond-to(l) {
					margin: 0 18px;
					height: 150px;
					flex: 1 0 25%;
				}
				div[data-toggle="tooltip"] {
					display: block;
					left: 0;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background-color: color('yellow-defaul');

					img  {
						position: absolute;
						min-width: 100%;
						min-height: 100%;
						width: auto;
						max-width: 200%;
						object-fit: cover;
						top: 50%;
						left: 50%;
						transform-origin: 50% 50%;
						transform: translate3d(-50%, -50%, 0);
					}
				}
			}
		}
	}
}


.tooltip.carrusel-multimedia{
	margin: -20px 15px 3px;
	opacity: 1;
	.tooltip-arrow{
		margin-left: -20px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid color('grey-light');
		top: 6px;
	}
	.tooltip-inner{
		max-width: 300px;
		margin: 20px auto;
		width: 70%;
		padding: 15px 10px 10px;
		text-align: left;
		background-color: color('grey-light');
		font-family: $crimson-textroman;
		font-size: 16px;
		border-radius: 2px;;
		min-width: 100px;
		color: #000000;
		&:first-line {
			color: #FDBD2C;
			font-family: $latobold;
			font-size: 18px;
		}
		&:first-letter{
			text-transform: uppercase;
		}
		@include respond-to(xl){
			margin: 20px auto;
			width: inherit;
		}
	}
}
