/*
//------------------------------------------------------------------------------
// Layouts 9
//------------------------------------------------------------------------------
*/

.view-id-componente_layout_11 {
  display: block;
  background: red;
  overflow: hidden;
  .view-content {
    .views-row {
      float: left;
      width: 100%;

      position: relative;
      background: #f4f1f1;
      margin: 10px 0;
      @include respond-to(m) {
        width: 47%;
        height: 530px;
        margin: 10px;
      }
      @include respond-to(xl) {
        width: 31%;
      }
      @include respond-to(xxxl) {
        width: 23%;
      }
      //Img
      .container-image,
      .container-image-video {
        border-bottom: 3px solid #ff8827;
      }
      //Contenedor
      .container-title-desc {
        display: inline-block;
        @include padding(1.05 .834);
        // min-height: 339px;
        //Titulo
        .cuar-titulo {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          @include respond-to(xl) {
            @include font-size(l);
            @include margin(.9 0 1.042);
          }
        }
        //Body
        .cuar-body {
          font-family: $crimson-textregular;
          @include type-layout(m, 1.06);
          @include margin-bottom(.417);
          @include respond-to(xl) {
            @include font-size(o);
          }
        }
      }
      //Button
      .cuar-enlace {
        a {
          @include respond-to(m) {
            position: absolute;
            right: 30px;
            bottom: 20px;
            margin: 0px;
          }
          border: 1px solid color('orange');
          font-family: $latolight;
          font-size: 15.3px;
          color: #484851;
          text-decoration: none;
          padding: 10px 30px;
          margin-top: 20px;
          outline: none;
          float: right;
          &:hover {
            background-color: #e55d12;
            color: #ffffff;
          }
        }
      }
    }
  }
}

