/*
//------------------------------------------------------------------------------
// Componente Eventos Destacados
//------------------------------------------------------------------------------
*/

.view-id-componente_eventos {
  .swiper-container-horizontal {
		width: 90%;
		margin: 0 auto;
    ul {
      padding-inline-start: 0px;
      li {
        list-style: none;
        position: relative;
        background: #f4f1f1;
        @include respond-to(xs) {
          height: 460px;
        }
        @include respond-to(xl) {
          height: 505px;
        }

        //Img
        .views-field-view {
          border-bottom: 3px solid color('orange');
          img{
            width: 100%;
          }
          .youtube-container--responsive {
            padding-bottom: 62.25%;
          }
        }

        //Titulo
        .views-field-title {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          padding: 0 25px;
          @include respond-to(xl) {
            @include font-size(ll);
            @include margin(2.042 0 1.042);
          }
        }
        //Fecha
        .views-field-field-fecha-eventos {
          display: inline-flex;
          @include margin-bottom(.7);
          padding: 0 25px;
          span {
            font-family: $latobold;
            @include font-size(xs);
            margin-right: 5px;
          }
          .field-content {
            span {
              font-family: $latoregular;
              @include font-size(xs);
            }
          }
        }
        //Lugar
        .views-field-additional {
          @include margin-bottom(.7);
          padding: 0 25px;
          span {
            font-family: $latobold;
            @include font-size(xs);
            margin-right: 5px;
            &:nth-child(2) {
              font-family: $latoregular;
              @include font-size(xs);
            }
          }
        }
        //Button
        .views-field-view-node {
          a {
            @include respond-to(xs) {
              position: absolute;
              bottom: 20px;
              right: 10px;
              margin: 0px;
            }
            border: 1px solid color('orange');
            font-family: $latolight;
            font-size: 15.3px;
            color: #484851;
            text-decoration: none;
            padding: 10px 30px;
            margin: 20px;
            outline: none;
            float: right;
            &:hover {
              background-color: color('orange');
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

//Flechas paginador
.view-id-componente_eventos {
	.skin-default {
		position: relative;
		.views-slideshow-controls-top {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 40px 40px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 40px 40px;
				}
			}
		}
	}
}

// //Puntos Slider
.view-id-componente_eventos {
	margin: 15px 0 20px;
	.views-slideshow-pager-field-processed {
		padding: 25px 0;
		@include bullet(orange, grey-secundary, orange, orange );
		@include respond-to(xl) {
			display: none;
		}
	}
}