/*
//------------------------------------------------------------------------------
// Componente Eventos Destacados
//------------------------------------------------------------------------------
*/

.view-id-componente_eventos {
  .swiper-container-horizontal {
    @include respond-to(xl) {
			width: 90%;
			margin: 0 auto;
			padding: 0 10px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li {
        //Img
        .views-field-view {
          img{
            width: 100%;
          }
          .youtube-container--responsive {
            padding-bottom: 62.25%;
          }
        }
        .box-content {
          position: relative;
          padding: 25px;
          border-top: 3px solid color('blue-light');
          background: #f4f1f1;
          @include respond-to(xs) {
            min-height: 326px;
          }
          //Titulo
          .views-field-title {
            font-family: $crimson-semibold;
            @include type-layout(sl, .90);
            // color: #484851;
            margin: 15px 0 20px;
            @include respond-to(m) {
              @include font-size(ll);
            }
          }
          //fecha
          .content-date {
            margin-bottom: 16px;
            .views-field  {
              display: flex;
              > span {
                font-family: $latobold;
                @include font-size(xs);
                // color: #333;
                padding-right: 5px;
              }
              .field-content {
                font-family: $latoregular;
                @include font-size(xs);
              }
            }
          }
          //lugar
          .content-description {
            margin-bottom: 16px;
            .views-field-additional {
              > span:nth-child(1) {
                font-family: $latobold;
                @include font-size(xs);
                // color: #333;
                padding-right: 5px;
              }
              span:nth-child(2) {
                font-family: $latoregular;
                @include font-size(xs);
              }
            }
          }
          //Button
          .views-field-view-node {
            a {
              display: block;
              width: 180px;
              font-family: $latoregular;
              @include font-size(m);
              color: color('grey-dark');
              text-decoration: none;
              text-align: center;
              border: 1px solid color('blue-light');
              padding: 10px 20px;
              margin: 0 auto;
              outline: none;
              position: absolute;
              bottom: 25px;
              right: 0;
              left: 0;
              @include respond-to(xs) {
                right: 25px;
                left: inherit;
                max-width: 150px;
              }
              &:hover {
                background-color: color('blue-light');
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

//Flechas paginador
.view-id-componente_eventos {
	.skin-default {
		position: relative;
		.views-slideshow-controls-bottom {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 40px 40px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 40px 40px;
				}
			}
		}
	}
}

// //Puntos Slider
.view-id-componente_eventos {
	margin: 15px 0 20px;
	.views-slideshow-pager-field-processed {
		padding: 25px 0;
		@include bullet(blue-light, white, blue-light, blue-light );
		// @include respond-to(xl) {
		// 	display: none;
		// }
	}
}