/*
//------------------------------------------------------------------------------
// Layouts 9
//------------------------------------------------------------------------------
*/

.view-id-layout_9.view-display-id-block_1 {
  display: block;
  overflow: hidden;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @include respond-to(m) {
      width: 750px;
    }
    @include respond-to(xl) {
      width: 970px;
    }
    @include respond-to(xxxl) {
      width: 1170px;
    }
    @include respond-to(xs) {
      .views-row {
        flex: 1 1 33.333333%;
        max-width: 33.333333%;
      }
    }
    > div:nth-child(even) {
      background-color: color('white');
    }
    .field-content {
      font-family: $crimson-textregular;
      @include font-size(m);
      padding: 40px;
    }
  }
}