/*
//------------------------------------------------------------------------------
// Componenete Relacionadas
//------------------------------------------------------------------------------
*/
//.panel-pane.pane-panels-mini.pane-noticias-relacionadas-layout-2.container {
  //border: 1px solid chocolate;
//}

.view-display-id-noticias_relacionadas {
	@include respond-to(xl) {
		width: 74%;
		float: left;
	}
	ul {
		-webkit-padding-start: 0px;
		li {
			list-style: none;
			position: relative;
			background: color('grey-light');
			@include respond-to(xs) {
				height: 460px;
			}
			@include respond-to(xl) {
				height: 519px;
			}
			//Imagenes
			.views-field-view {
				border-bottom: 3px solid color('orange');
				img{
					width: 100%;
				}
				.youtube-container--responsive {
					padding-bottom: 62.25%;
				}
			}
			//Fecha
			.views-field-created {
				margin: 10px 0px;
				span {
					font-family: $latoregular;
					@include type-layout(xxs, 1.23);
					padding: 0 15px;
					color: color('orange');
				}
			}
			//Titulo
			.views-field-title {
				font-family: $crimson-textbold;
				@include type-layout(l, .96);
				color: #484851;
				@include margin(.834 0 .834);
				padding: 0 15px;
				@include respond-to(xl) {
					@include font-size(ll);
					@include margin(.9 0 1.042);
				}
			}
			//Body
			.views-field-body {
				font-family: $crimson-textregular;
				@include type-layout(m, 1.06);
				@include margin-bottom(.417);
				padding: 0 15px;
				@include respond-to(xl) {
					@include font-size(o);
				}
			}
			//Button
			.views-field-view-node {
				margin: 20px;
				a {
					@include respond-to(xs) {
						position: absolute;
						bottom: 20px;
						right: 10px;
						margin: 0px;
					}
					display: block;
					max-width: 180px;
					font-family: $latolight;
					font-size: 15.3px;
					color: #484851;
					text-decoration: none;
					text-align: center;
					border: 1px solid color('orange');
					padding: 10px 30px;
					margin: 0 auto;
					outline: none;
					&:hover {
						background-color: color('orange');
						color: #ffffff;
					}
				}
			}
		}
	}
}

/* ------| Lista enlaces Relacionados |----- */
.view-display-id-otras_noticias {
  width: 100%;
  float: left;
  background: #e34d1f;
  border-bottom: 3px solid #484851;
	padding: 25px;
	margin-bottom: 10px;
	@include respond-to(xl) {
		width: 22%;
		height: 63.3vh;
		margin-left: 20px;
		margin-bottom: 20px;
	}
  .view-header {
    h4 {
      font-family: $crimson-textbold;
      @include type-layout(l, 1);
      color: color('white');
      text-decoration: none;
      text-transform: none;
			margin: 10px 0;
			@include respond-to (xl) {
				margin: 20px 0;
			}
    }
  }
  .view-content {
    ul {
      padding-inline-start: 0px;
      color: #fff;
      list-style: none;
      li {
				padding: 5px 0;
				border-bottom: 1px solid #fff;
				@include respond-to(xl) {
					padding: 10px 0;
				}
        a {
          font-family: $crimson-textregular;
          @include font-size(l);
          color: color('white');
          text-align: left;
          text-decoration: none;
          transition: .3s;
          padding-left: 16px;
          &::before {
            content: "•";
            font-size: 30px;
            padding-right: 8px;
            margin-left: -31px;
            color: #fff;
          }
        }
        &:hover {
          opacity: .6;
        }
      }
    }
  }
}