/*
//------------------------------------------------------------------------------
// Noticias
//------------------------------------------------------------------------------
*/

.view-display-id-noticias_destacadas {
	ul {
		-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	}
	li.swiper-slide {
	  display: block;
	  background: color('grey-light');
    list-style: none;
    @include respond-to(xs) {
			height: 500px;
		}
		@include respond-to(xl) {
			height: 558px;
		}
	}
	.views-row {
	  //Imagenes
		.compo-notias-img {
			border-bottom: 4px solid color('orange');
			img {
				width: 100%;
				// height: max-content;
				// max-height: 167px;
				// @include respond-to(xl) {
				// 	max-height: 167px;
				// }
			}
		}
		//Contenedor
		.conten-noticias {
			display: inline-block;
			@include padding(1.05 .834);
			//Fecha
			.compo-notias-fecha {
				font-family: $latoregular;
				@include type-layout(xxs, 1.23);
		    @include margin-bottom(.6);
		    color: color('orange');
		  }
		  //Titulo
		  .compo-notias-titulo {
		  	font-family: $crimson-textbold;
		  	@include type-layout(l, .96);
		  	color: #484851;
		  	@include margin(.834 0 .834);
		  	@include respond-to(xl) {
					@include font-size(ll);
					@include margin(.9 0 1.042);
		  	}
		  }
		  //Body
		  .compo-notias-body {
				font-family: $crimson-textregular;
				@include type-layout(m, 1.06);
				@include margin-bottom(.417);
				@include respond-to(xl) {
					@include font-size(o);
		  	}
		  }
		  //Button
		  .compo-notias-enlace {
				a {
					@include respond-to(xs) {
						position: absolute;
						bottom: 20px;
						right: 10px;
						margin: 0px;
					}
					border: 1px solid color('orange');
					font-family: $latolight;
					font-size: 15.3px;
	    		color: #484851;
	    		text-decoration: none;
	        padding: 10px 30px;
	        margin-top: 20px;
	    		outline: none;
	    		float: right;
				}
		  }
		}
	}
}

//Flechas paginador
.view-display-id-noticias_destacadas {
	@include respond-to(xl) {
		display: block;
	}
	.skin-default {
		position: relative;
		//Conten Flechas
		.views-slideshow-controls-text {
			display: none;
			@include respond-to(xl) {
				display: block;
			}
    	//Button Izquierda
    	a[rel='prev'] {
				@extend %a-prev;
		  }
			//Buttom Pause
			.views-slideshow-controls-text-pause {
				display: none;
			}
			//Button Deracha
			a[rel='next'] {
				@extend %a-prev;
		  	left: inherit;
		    right: -6%;
				background: url('../img/Icon/arrow_next.svg') no-repeat center;
		  }
		}
	}
}

//Puntos Slider
.view-display-id-noticias_destacadas {
	margin: 15px 0 20px;
	.views-slideshow-pager-field-processed {
		@include bullet(red, grey);
		@include respond-to(xl) {
			display: none;
		}
	}
}



