/*
//------------------------------------------------------------------------------
// Componente catalogo
//------------------------------------------------------------------------------
*/

/* ------| Filtro cuadro, fila |----- */
#quicktabs-componente_catalogo {
  ul.quicktabs-tabs {
    display: none;
    @include respond-to(xl) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      padding: 15px;
    }
    li {
      padding: 0px;
      &:nth-child(1) {
        .quicktabs-tab  {
          width: 40px;
          height: 40px;
          display: block;
          font-size: 0px;
          background: url('../img/Icon/button-linea.png') no-repeat;
          background-position-x: 0px;
          background-size: cover;
        }
        &.active {
          padding: 0px;
          .quicktabs-tab  {
            background: url('../img/Icon/button-cuadricula.png') no-repeat;
            background-size: cover;
            background-position-x: 0px;
          }
        }
      }
      &:nth-child(2) {
        .quicktabs-tab {
          width: 40px;
          height: 40px;
          display: block;
          font-size: 0px;
          background: url('../img/Icon/button-cuadricula.png') no-repeat;
          background-position-x: -62px;
          background-size: cover;
        }
        &.active {
          padding: 0px;
          .quicktabs-tab {
            background: url('../img/Icon/button-linea.png') no-repeat;
            background-position-x: -62px;
            background-size: cover;
          }
        }
      }
    }
  }
  #quicktabs-container-componente_catalogo {
    .quicktabs-tabpage {
      &:nth-child(1) {
        @media (max-width: 992px) {
          display: initial;
        }
      }
      &:nth-child(2) {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }
  > .quicktabs_main {
    .quicktabs-tabpage {
      select {
        border-radius: 0px;
        box-shadow: none;
        appearance: none;
        background: url(../img/Icon/slide-next.png)no-repeat;
        background-size: 22px;
        background-color: white;
        background-position: 93% 5px;
      }
    }
  }
}

/* ------| Filtro Cuadricula |----- */
.view-id-calendar-component {
  .views-column {
    position: relative;
    @media (max-width: 555px) {
      padding: 0px;
    }
    @media screen and (min-width: 555px) and (max-width: 767px) {
      width: 50%;
      float: left;
    }
    .cursos  {
      position: relative;
      margin-bottom: 15px;
      @include respond-to(xl) {
        margin-bottom: 31px;
      }
      .img-depor {
        position: absolute;
        top: 0;
        background: rgba(88, 89, 91, 0.82);
        width: 100%;
        height: 100%;
        color: white;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          display: none;
        }
        img {
          width: 40px;
          height: auto;
          @include respond-to(xl) {
            width: 93px;
          }
        }
      }
      &:hover .hover-curso {
        z-index: 1;
      }
      &:hover .img-depor {
        z-index: -1;
      }
      .hover-curso {
        position: absolute;
        top: 0;
        background: rgba(53, 158, 208, 0.78);
        width: 100%;
        height: 100%;
        z-index: -1;
        .hover-curso-tex {
          color: white;
          width: 80%;
          height: 83%;
          margin: 0 auto;
          margin-top: 5%;
          border: 1px solid white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            font-family: $latoblack;
            @include font-size(m);
            padding: 0 15px;
            text-align: center;
          }
          p {
            font-family: $crimson-textregular;
            @include font-size(m);
            padding: 0 15px;
            text-align: center;
          }
          .button {
              width: 100%;
              display: block;
              text-align: center;
              position: absolute;
              left: 0;
              bottom: 6%;
            a {
              font-family: $latoregular;
              @include font-size(s);
              color: color('white');
              text-decoration: none;
              border: 2px solid white;
              padding: 0.6em 1.5em;
              background: rgb(53, 158, 208);
            }
          }
        }
      }
    }
  }
}


/* ------| Filtro Lista |----- */
.view-id-calendar-component.view-display-id-block_1 {
  .views-row {
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #58595B;
    display: flex;
    align-items: center;
    height: auto;
    font-family: $latoblack;
    color: white;
    .views-field-field-image-full {
      margin-right: 25px;
      width: 69px;
      height: 58px;
      img  {
        background-color: #359ED0;
        width: 100%;
        height: auto;
        padding: 11% 18%;
        max-height: 58px;
      }
    }
    .lista  {
      display: flex;
      flex-wrap: wrap;
      //Title
      .views-field-title {
        span {
          &::after {
            content: "  -  ";
          }
        }
      }
      //Fecha
      .views-field-field-fecha-eventos,
      .views-field-field-fecha-eventos-2 {
        display: flex;
        flex-wrap: wrap;
        &::after {
          content: "  -  ";
        }
      }
      //Lugar
      .views-field-field-lugar {
        display: flex;
        > span {
          padding-right: 5px;
        }
        .location,
        .field-content,
        .adr,
        .map-link {
          display: flex;
          flex-wrap: wrap;
          > span {
            padding: 0 5px;
          }
        }
        .map-link {
          padding: 0 5px;
          a {
            text-decoration: none;
            color: red;
            padding-left: 5px;
          }
        }
      }
    }
  }
}