/*
//------------------------------------------------------------------------------
// Layouts 9
//------------------------------------------------------------------------------
*/

.view-id-componente_layout_11 {
  display: block;
  overflow: hidden;
  .view-content {
    .views-row {
      float: left;
      width: 100%;
      position: relative;
      background: #f4f1f1;
      margin: 10px 0;
      @include respond-to(m) {
        width: 47%;
        height: 530px;
        margin: 0.7em;
      }
      @include respond-to(xl) {
        width: 31%;
      }
      @include respond-to(xxxl) {
        width: 23%;
      }
      //Img
      .container-image,
      .container-video {
        border-bottom: 3px solid #ff8827;
        img{
          width: 100%;
        }
      }
      //Contenedor
      .container-title-desc {
        display: inline-block;
        @include padding(1.05 .834);
        // min-height: 339px;
        //Titulo
        .cuar-titulo {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          @include respond-to(xl) {
            @include font-size(l);
            @include margin(.9 0 1.042);
          }
        }
        //Body
        .cuar-body {
          font-family: $crimson-textregular;
          @include type-layout(m, 1.06);
          @include margin-bottom(.417);
          @include respond-to(xl) {
            @include font-size(o);
          }
        }
      }
      //Button
      .cuar-enlace {
        a {
          @include respond-to(m) {
            position: absolute;
            right: 30px;
            bottom: 20px;
            margin: 0px;
          }
          border: 1px solid color('orange');
          font-family: $latolight;
          font-size: 15.3px;
          color: #484851;
          text-decoration: none;
          padding: 10px 30px;
          margin-top: 20px;
          outline: none;
          float: right;
          &:hover {
            background-color: #e55d12;
            color: #ffffff;
          }
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.view-id-componente_layout_11 {
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: #fff;
      border-radius: 0;
      padding: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        border-top: 1px solid #e55d12;
        z-index: -1;
      }
      li {
        color: #484851;
        border: 1px solid #fff;
        border-radius: 0;
        background-color: #fff;
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid #fff;
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: #fff;
        }
        &.active {
          border-color: #e55d12;
          span {
            background-color: transparent;
            border-radius: initial;
            color: color('black');
            border: initial;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
}