/*
//------------------------------------------------------------------------------
// Acordion
//------------------------------------------------------------------------------
*/
/* ------| body texto |----- */
.field-name-body {
	.field-item {
		p {
			font-family: $crimson-textregular;
			@include font-size(m);
			color: #484851;
			text-align: center;
			margin-bottom: 16px;
		}
	}
}
/* ------| Acordion |----- */
.view-id-componente_acordeon {
	//titulo
	.view-content div {
		> .views-field.views-field-field-titulo {
			.field-content {
				font-family: $latoblack;

				text-transform: uppercase;
				color: #484851;
				text-align: center;
				margin: 0;
				padding: 40px 0;
			}
		}
	}
	//acordion
	.ui-accordion-header {
		&.ui-state-default {
			background: #f5f5f5;
			border-radius: initial;
			border-color: #ddd;
			padding: 15px 25px;
			margin-top: 5px;
			a .acordion-titulo {
				font-family: $latobold;
				@include font-size(s);
				line-height: 18px;
				color: #231F20;
			}
			.ui-accordion-header-icon {
				position: absolute;
				right: 35px;
				left: auto;
				top: 5%;
				margin-top: 0px;
				&.ui-icon {
					width: 40px;
					height: 40px;
					background: url('../img/Icon/arrow_next.svg')no-repeat;
					background-size: contain;
					transform: rotate(90deg);
				}
			}
		}
		&.ui-state-active {
			.ui-icon {
				transform: rotate(-90deg) !important;
			}
		}
	}
	//contenido
	.ui-accordion-content {
		border-radius: initial;
		border-color: #ddd;
		padding: 25px 25px 0px;
		p {
			font-family: $crimson-textregular;
			@include font-size(m);
			color: #484851;
			margin: 0px;
		}
	}
}