/*
//------------------------------------------------------------------------------
// Componenete Noticias
//------------------------------------------------------------------------------
*/

.view-display-id-noticias_destacadas {
	padding-top: 40px;
	padding-bottom: 60px;
	.swiper-container-horizontal {
		@include respond-to(xl) {
			width: 90%;
			margin: 0 auto;
			padding: 0 10px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li {
				// margin: 0 10px;
				.views-row {
					//Imagenes
					.views-field-view {
						img {
							width: 100%;
						}
						.youtube-container--responsive {
							padding-bottom: 62.25%;
							background-color: color('black');
						}
					}
					.box-content {
						position: relative;
						padding: 25px;
						border-top: 3px solid #ff8827;
						background: #f4f1f1;
						min-height: 364px;
						//Fecha
						.content-date {
							color: color('orange');
							.views-field-created {
								font-family: $latoregular;
								@include type-layout(xs, 1.23);
								padding: 5px 0px;
							}
						}
						// //hora
						// .views-field-field-fecha-eventos {
						// 	margin: 15px 25px 0;
						// 	display: flex;
						// 	font-family: $latoregular;
						// 	@include type-layout(xs, 1.23);
						// 	color: color('orange-primary');
						// }
						// //lugar
						// .views-field-additional {
						// 	margin: 0 25px;
						// 	font-family: $latoregular;
						// 	@include type-layout(xs, 1.23);
						// 	color: color('orange-primary');
						// }
						//Titulo
						.views-field-title {
							margin: 15px 0 20px;
							span,
							a {
								font-family: $crimson-semibold;
								@include type-layout(sl, .90);
								text-decoration: none;
								@include respond-to(m) {
									@include font-size(ll);
								}
							}
						}
						//Body
						.views-field-body {
							font-family: $crimson-textregular;
							@include font-size(m);
							margin-bottom: 16px;
							@include respond-to(xs) {
								height: 7pc;
							}
						}
						//Button
						.views-field-view-node {
							a {
								display: block;
								width: 180px;
								font-family: $latoregular;
								@include font-size(m);
								color: color('grey-dark');
								text-decoration: none;
								text-align: center;
								border: 1px solid color('orange-primary');
								padding: 10px 20px;
								margin: 0 auto;
								outline: none;
								position: absolute;
								bottom: 25px;
								right: 0;
								left: 0;
								@include respond-to(xs) {
									right: 25px;
									left: inherit;
									max-width: 150px;
								}
								&:hover {
									background-color: color('orange-primary');
									color: color('white');
								}
							}
						}
					}
				}
			}
		}
	}
}
/* ------| zzzzzzzzzzzzzz |----- */
// .view-display-id-noticias_destacadas {
// 	.swiper-container-horizontal {
// 		li {
// 			&:hover {
// 				background: blue !important;
// 			}
// 			.views-row {
// 				//Imagenes
// 				.views-field-view {
// 					border-bottom: 3px solid blue !important;
// 				}
// 				//fecha
// 				.views-field-created,
// 				.views-field-field-fecha-eventos,
// 				.views-field-additional  {
// 					color: blue;
// 				}
// 				//button
// 				.views-field-view-node {
// 					a {
// 						border: 1px solid blue;
// 					}
// 				}
// 				&:hover {
// 					.views-field-created,
// 					.views-field-field-fecha-eventos,
// 					.views-field-additional,
// 					.views-field-title {
// 						span {
// 							color: white;
// 						}
// 					}
// 					.views-field-body  {
// 						color: white;
// 					}
// 					.views-field-view-node {
// 						a {
// 							border-color: white;
// 							color: white;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
/* ------| end  zzzzzzz |----- */

/* ------| Flechas paginador |----- */
.view-display-id-noticias_destacadas {
	.skin-default {
		position: relative;
		.slideshow-controls-top,
		.views-slideshow-controls-bottom {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 50px;
					height: 50px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 50px 50px;
					padding: 1px 7px 2px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 50px;
					height: 50px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 50px 50px;
					padding: 1px 7px 2px;

				}
			}
		}
	}
}

/* ------| componente noticias |----- */
.view-componente-noticias{
	.skin-default{
		.views_slideshow_main{
			position: relative;
			width: 90%;
			margin: 0 auto;
		}
		// controls
		.swiper-news-hightlight-next,
		.swiper-news-hightlight-prev{
			width: 40px;
			height: 40px;
			position: absolute;
			top: 50%;
			border: 1px solid #777;
			background-size: 40px 40px;
			display: none;
			@include respond-to(xl){
				display: block;
			}
			&:focus{
				outline: none;
			}
		}
		.swiper-news-hightlight-prev{
			left: 0px;
			right: auto;
			background: url('../img/Icon/arrow_prev.svg') no-repeat center;
		}
		.swiper-news-hightlight-next{
			right: 0px;
			left: auto;
			background: url('../img/Icon/arrow_next.svg') no-repeat center;
		}

		// pagination
		.pagination-wrap{
			position: relative;
			bottom: 0px;
			width: 100%;
			text-align: center;
		}
		.swiper-pagination-news-hightlight{
			position: relative;
			display: inline-block;
			text-align: center;
			padding: 15px 0;
			width: 100px;
			box-sizing: border-box;
			z-index: 1;
			.swiper-pagination-bullet{
				width: 15px;
				height: 15px;
				margin: 0 5px;
				border: 1px solid color(orange);
				background-color: white;
				opacity: 1;
				&-active{
					background-color: color(orange);
				}
				&:focus{
					outline: none;
				}
			}
		}
	}
}

/* ------| Puntos Slider |----- */
.view-display-id-noticias_destacadas {
	.views-slideshow-pager-field-processed {
		@include bullet(orange, white, orange, orange );
		@include respond-to(xl) {
			display: none;
		}
	}
}

.view-display-id-componente_multimedia_noticia_destacada {
	position: relative;
	margin: 20px 0;
	.view-content {
	  .view-banner-nodes {
		.views_slideshow_main{
		  @include respond-to(xl){
			margin-left: 43px;
			margin-right: 43px;
		  }
		  ul li.swiper-slide {
			height: auto !important;
			.youtube-container--responsive {
			  padding-bottom: 100%;
			}
		  }
		}
	  }
	  .views-slideshow-pager-fields {
		@include respond-to(xl){
		  width: 49%;
		  float: left;
		}
	  }
	  .views-slideshow-controls-bottom {
		display: block;
		@include respond-to(xl){
		  width: 50%;
		  margin-top: 0;
		}
		.views-slideshow-pager-fields {
		  width: 80%;
		  margin-left: 0;
		  float: left;
		  .views_slideshow_pager_field_item {
			margin: 0 10px;
			padding: 0;
		  }
		}
		.views-slideshow-controls-text {
		  //position: absolute;
		  bottom: 0;
		  left: 0;
		  width: 80px;
		  float: left;
		  margin: 30px 0 0 0 ;
		  position: relative;
		  height: 40px;
		  a[rel="prev"],
		  a[rel="next"]{
			position: relative;
			display: block ;
			float: left;
			background-size: 26px;
			background: initial;
		  }
		  .views_slideshow_controls_text_previous,
		  .views-slideshow-controls-text-next {
			position: relative;
			float: left;
			width: 20px;
			height: 40px;
		  }
		  .views_slideshow_controls_text_previous  a[rel="prev"],
		  .views-slideshow-controls-text-next  a[rel="next"] {
			position: absolute;
			background: url("../img/Icon/arrow_prev.svg") no-repeat center;
			left: 0;
			top: 0;
		  }
		  .views-slideshow-controls-text-next  a[rel="next"]{
			background: url("../img/Icon/arrow_next.svg") no-repeat center;
		  }
		}
	  }
	}
	.views-field-view-1 {
	  background: color('gray-multimedia');
	  padding: 30px 20px;
	  margin: 20px 0 0;
	  display: block;
	  overflow: hidden;
	  @include respond-to(xl){
		position: relative;
		bottom: 10px;
		float: right;
		width: 50%;
		margin-top: -6.5%;
		display: inline-block;
		vertical-align: bottom;
	  }
	  .title-multimedia-destacado {
		text-transform: uppercase;
		margin: 0 0 10px;
		padding: 0;
		font-family: 'crimsontext-semibold';
		color: color('grey-dark');
		font-size: 1.25rem;
		line-height: 1;
		text-align: left;
	  }
	  .body-multimedia-destacado {
		p{
		  color: color('grey-dark');
		  text-decoration: none;
		  font-family: 'crimson_textregular';
		  font-size: 0.9375rem;
		}
	  }
	  .link-multimedia-destacado {
		a {
  
		  background: #f4f1f1;
		  border: 1px solid color('orange');
		  padding: 10px 20px;
		  color: #484851;
		  text-decoration: none;
		  z-index: 1;
		  float: right;
		  max-width: 180px;
		  margin: 10px auto 0;
		  &:hover {
			background-color: color('orange');
			color: color('white');
		  }
		}
	  }
	}
  }


/* ------| componente noticias recientes |----- */
.view-display-id-noticias_recientes  {
	padding-top: 40px;
	padding-bottom: 60px;
	.swiper-container-horizontal {
		@include respond-to(xl) {
			width: 90%;
			margin: 0 auto;
			padding: 0 10px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li {
				//Imagenes
				.views-field-view {
					img{
						width: 100%;
					}
					.youtube-container--responsive {
						padding-bottom: 62.25%;
					}
				}
				.box-content {
					position: relative;
					padding: 25px;
					border-top: 3px solid #ff8827;
					background: #f4f1f1;
					min-height: 364px;
					//Fecha
					.content-date {
						color: color('orange');
						.views-field-created {
							font-family: $latoregular;
							@include type-layout(xs, 1.23);
							padding: 5px 0px;
						}
					}
					//Titulo
					.views-field-title {
						margin: 15px 0 20px;
						span,
						a {
							font-family: $crimson-semibold;
							@include type-layout(sl, .90);
							text-decoration: none;
							@include respond-to(m) {
								@include font-size(ll);
							}
						}
					}
					//Body
					.views-field-body {
						font-family: $crimson-textregular;
						@include font-size(m);
						margin-bottom: 16px;
						@include respond-to(xs) {
							height: 7pc;
						}
					}
					//Button
					.views-field-view-node {
						a {
							display: block;
							width: 180px;
							font-family: $latoregular;
							@include font-size(m);
							color: color('grey-dark');
							text-decoration: none;
							text-align: center;
							border: 1px solid color('orange-primary');
							padding: 10px 20px;
							margin: 0 auto;
							outline: none;
							position: absolute;
							bottom: 25px;
							right: 0;
							left: 0;
							@include respond-to(xs) {
								right: 25px;
								left: inherit;
								max-width: 150px;
							}
							&:hover {
								background-color: color('orange-primary');
								color: color('white');
							}
						}
					}
				}
			}
		}
	}
}

/* ------| Flechas paginador |----- */
.view-display-id-noticias_recientes  {
	.skin-default {
		position: relative;
		.slideshow-controls-top,
		.views-slideshow-controls-bottom {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 40px 40px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 40px 40px;
				}
			}
		}
	}
}
/* ------| Puntos Slider |----- */
.view-display-id-noticias_recientes  {
	.views-slideshow-pager-field-processed {
		@include bullet(orange, white, orange, orange );
		// @include respond-to(xl) {
		// 	display: none;
		// }
	}
}

/* ------| swiper vertical |----- */
.vertical-carrusel{
	.view-content{
		.views_slideshow_swiper_main{
			position: initial;
			margin-bottom: 40px;
			ul{
				margin-bottom: 29px;
				.swiper-slide{
					
					.views-field-title,
					.multimedia-titulo{
						width: 60%;
						margin-left: 40%;
						spam, a{
							color: color('grey-dark');
							font-family: $crimson-semibold;
						}
						.field-content{
							display: grid;
						}
					}
					.views-field-body,
					.multimedia-body{
						width: 60%;
						margin-left: 40%;
						.field-content{
							display: grid;
						}
					}
					.views-field{
						.view-content{
							max-width: 416px;
							max-height: 86px;
							min-height: inherit;
							height: 6vw;
							margin: 0 auto;
						}
					}
				}
			}
			.swiper-button-prev{
				font-size: 0;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 50%;
				top: inherit;
				left: 2%;
				bottom: -41px;
				transform: rotate(-90deg);
				background: url('../img/Icon/arrow_prev-orange.svg') no-repeat center;
				border: 1px solid color('orange-primary');
				background-color: color('white');
				z-index: 2;
			}
			.swiper-button-next{
				font-size: 0;
				width: 40px;
				height: 40px;
				position: absolute;
				left: 14%;
				top: inherit;
				bottom: -41px;
				transform: rotate(-90deg);
				background: url('../img/Icon/arrow_next-orange.svg') no-repeat center;
				background-color: white;
				border: 1px solid color('orange-primary');
				z-index: 2;
			}
			.swiper-button-prev.swiper-button-disabled,
			.swiper-button-next.swiper-button-disabled{
				opacity: 1;
				background-color: color('grey-secundary');
				border: 1px solid color('grey-secundary');
			}
		}
	}
}

.view-componente-noticias, .swiper-container-vertical{	
	.skin-default{
		.pagination-wrap{
			
			.swiper-pagination{
				position: relative;
				.swiper-pagination-bullet{
					-webkit-appearance: none;
					background: transparent;
					border: 1px solid #e34d1f;
					border-radius: 100%;
					padding: 4px;
					width: 15px;
					height: 15px;
					margin: 0 3px;
				}
				.swiper-pagination-bullet-active{
					background: #e34d1f;
				}
			}
			bottom: -13px;
			margin-bottom: 25px;
			@include respond-to(xl){
				bottom: 0;
				display: none;
			}
		}
	}
	.view-componente-noticias-item{
		max-width: 400px;
    	margin: 0 auto;
		@include respond-to(xl){
			max-width: inherit;
		}
		.view-content{
			height: 44vw;
			background-color: color('grey-secundary');
			@include respond-to(xxs){
				height: 45vw;
			}
			@include respond-to(xs){
				height: 38vw;
			}
			@include respond-to(s){
				height: 33vw;
			}
			@include respond-to(m){
				min-height: 195px;
				height: auto;
			}
			@include respond-to(xl){
				min-height: 162px;
				height: auto;
			}
			@include respond-to(xxl){
				min-height: 162px;
				height: auto;
			}
			@include respond-to(xxxl){
				min-height: 147px;
				height: auto;
			}
		}
	}
}

.swiper-container-vertical{
	.swiper-pagination-bullets{
		display: none;
	}
}

.view-display-id-multimedia_destacada_unica{
	.view-componente-noticias-item{
		.view-content{
			@include respond-to(l){
				min-height: 300px;
				height: auto;
			}
		}
	}
}

.view-home-noticias{
	.view-componente-noticias-item{
		.view-content{
			min-height: 50vw;
			background-color: color('black');
			@include respond-to(xs){
				min-height: 158px;
				height: auto;
			}
		}
	}
}
.pane-home-noticias-componente-noticia{
	padding-bottom: 25px;
}

/* ------| noticias relacionadas |----- */
//.panel-pane.pane-panels-mini.pane-noticias-relacionadas-layout-2.container {
  //border: 1px solid chocolate;
//}

.view-display-id-noticias_relacionadas {
	padding-top: 40px;
	padding-bottom: 60px;
	.swiper-container-horizontal {
		@include respond-to(xl) {
			width: 90%;
			margin: 0 auto;
			padding: 0 10px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li {
				//Imagenes
				.views-field-view {
					img{
						width: 100%;
					}
					.youtube-container--responsive {
						padding-bottom: 62.25%;
					}
				}
				.box-content {
					position: relative;
					padding: 25px;
					border-top: 3px solid #ff8827;
					background: #f4f1f1;
					min-height: 364px;
					//Fecha
					.content-date {
						color: color('orange');
						.views-field-created {
							font-family: $latoregular;
							@include type-layout(xs, 1.23);
							padding: 5px 0px;
						}
					}
					//Titulo
					.views-field-title {
						margin: 15px 0 20px;
						span,
						a {
							font-family: $crimson-semibold;
							@include type-layout(sl, .90);
							text-decoration: none;
							@include respond-to(m) {
								@include font-size(ll);
							}
						}
					}
					//Body
					.views-field-body {
						font-family: $crimson-textregular;
						@include font-size(m);
						margin-bottom: 16px;
						@include respond-to(xs) {
							height: 7pc;
						}
					}
					//Button
					.views-field-view-node {
						a {
							display: block;
							width: 180px;
							font-family: $latoregular;
							@include font-size(m);
							color: color('grey-dark');
							text-decoration: none;
							text-align: center;
							border: 1px solid color('orange-primary');
							padding: 10px 20px;
							margin: 0 auto;
							outline: none;
							position: absolute;
							bottom: 25px;
							right: 0;
							left: 0;
							@include respond-to(xs) {
								right: 25px;
								left: inherit;
								max-width: 150px;
							}
							&:hover {
								background-color: color('orange-primary');
								color: color('white');
							}
						}
					}
				}
			}
		}
	}
}

/* ------| Flechas paginador |----- */
.view-display-id-noticias_relacionadas {
	.skin-default {
		position: relative;
		.slideshow-controls-top,
		.views-slideshow-controls-bottom {
			display: block;
			//Conten Flechas
			.views-slideshow-controls-text {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
				//Button Izquierda
				a[rel='prev'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_prev.svg') no-repeat center;
					background-size: 40px 40px;
				}
				//Buttom Pause
				.views-slideshow-controls-text-pause {
					display: none;
				}
				//Button Deracha
				a[rel='next'] {
					font-size: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 50%;
					left: inherit;
					right: 0;
					border: 1px solid #777;
					background: url('../img/Icon/arrow_next.svg') no-repeat center;
					background-size: 40px 40px;
				}
			}
		}
	}
}

/* ------| Puntos Slider |----- */
.view-display-id-noticias_relacionadas {
	.views-slideshow-pager-field-processed {
		@include bullet(orange, white, orange, orange );
		// @include respond-to(xl) {
		// 	display: none;
		// }
	}
}
