/*
//------------------------------------------------------------------------------
// Slider Homes
//------------------------------------------------------------------------------
*/

/* ------| Slider Home|----- */
.view-banner-nodes {
	.views_slideshow_swiper-processed {
		// height: 609px;
	}
	ul {
		li.swiper-slide {
			width: 100% !important;
			// height: 619px;
			list-style: none;
			overflow: hidden;
			display: block;
			.views-slideshow-swiper-main-frame-row-item {
				display: inline-flex;
				width: 100%;
				overflow: hidden;
				height: 100%;
				.views-field-views-conditional {
					width: 100%;
				}
			}
			.slider-homes-img-destock {
				display: none;
				@include respond-to(xl) {
					display: block;
				}
			}
			.slider-homes-img-movil {
				display: block;
				@include respond-to(xl) {
					display: none;
				}
			}
			img {
				 width: 100%;
				// height: 551px;
				@include respond-to(xl) {
					// height: auto;
					max-height: 619px;
				}
			}
			.youtube-container--responsive {
				padding-bottom: 45.25%;
			}
		}
	}
}
/* ------| Ubicado Leth |----- */
.view-banner-nodes {
	.slider-homes-left {
		background-color: rgba(0, 0, 0, 0.5);
		@extend %slider-homes-lef;
  	//Titulo
  	.title-slider-homes {
			@extend %title-slider-home;
  	}
  	//Sub titulo
  	.body-slider-homes {
			@extend %body-slider-home;
  	}
  	//Buttom
  	.link-slider-homes {
  		@extend %link-slider-home;
  	}
	}
}

/* ------| Ubicado Rigth |----- */
.view-banner-nodes {
	.slider-homes-right {
		background-color: rgba(0, 0, 0, 0.5);
		@extend %slider-homes-lef;
		@include respond-to(m) {
  		left: inherit;
			right: 10%;
    }
    .title-slider-homes {
      @extend %title-slider-home;
      @include respond-to(m) {
      	text-align: right;
    	}
    }
    .body-slider-homes {
    	@extend %body-slider-home;
    	@include respond-to(m) {
    		text-align: right;
    	}
    }
	}
}

/* ------| Ubicado Centro |----- */
.view-banner-nodes {
	.slider-homes-center {
		background-color: rgba(0, 0, 0, 0.5);
		@extend %slider-homes-lef;
		@include respond-to(m) {
  		left: inherit;
			right: 30%;
    }
    .title-slider-homes {
      @extend %title-slider-home;
      @include respond-to(m) {
      	text-align: center;
    	}
    }
    .body-slider-homes {
    	@extend %body-slider-home;
    	@include respond-to(m) {
    		text-align: center;
    	}
    }
	}
}

/* ------| Ubicado Abajo |----- */
.view-banner-nodes {
	.field-content {
		.slider-homes-bottom {
			padding: 0 15px;
			@include margin(.834 0);
			overflow: hidden;
			display: block;
			@include respond-to(m) {
				width: 750px;
				@include margin(.834 auto .834);
			}
			@include respond-to(xl) {
				width: 970px;
			}
			// @include respond-to(xxxl) {
  		// 	width: 1170px;
			// }
			//titulo
			.title-slider-homes {
				width: 100%;
				float: left;
				font-family: $latobold;
				@include font-size(l);
				@include margin(.417 0);
				text-transform: uppercase;
				color: #585863;
				min-height: 50px;
				padding-bottom: 10px;
				@include respond-to(m) {
					width: 41.66666667%;
					text-align: right;
					padding-right: 25px;
					padding-bottom: 0;
				}
			}
			//sub titulo
			.body-slider-homes {
				float: left;
		    position: relative;
				font-family: $crimson-textregular;
				@include font-size(m);
		    text-align: left;
				color: color('black-secundary');
				text-overflow: ellipsis;
  			overflow: hidden;
  			max-height: 81px;
		  	border-top: 1px solid color('yellow-defaul');
		    padding-top: 15px;
				margin: 0;
		    @include respond-to(m) {
					width: 33.33333333%;
					border: 0;
					border-left: 1px solid color('yellow-defaul');
					padding-left: 25px;
		    }
			}
			//button
			.link-slider-homes {
				a {
					float: right;
					text-decoration: none;
					@include margin(.834 .834 0 auto);
				  max-width: 145px;
				  border: 1px solid color('grey-dark');
				  color: color('grey-dark');
				  padding: 10px 35px;
				  &:hover {
    				background: color('grey-dark');
    				color: color('white');
    			}
				}
			}
		}
	}
}

/* ------| Ubicado Ninguno |----- */
.view-banner-nodes {
	.field-content {
		.slider-homes-empty {
			display: none;
		}
	}
}

// /* ------| Flechas paginador |----- */
// .view-banner-nodes {
// 	@include respond-to(xl) {
// 		display: block;
// 	}
// 	.skin-default {
// 		position: relative;
// 		//Conten Flechas
// 		.views-slideshow-controls-text {
// 			display: none;
// 			@include respond-to(xl) {
// 				display: block;
// 			}
//     	//Button Izquierda
//     	a[rel='prev'] {
// 				@extend %a-prev;
// 		  }
// 			//Buttom Pause
// 			.views-slideshow-controls-text-pause {
// 				display: none;
// 			}
// 			//Button Deracha
// 			a[rel='next'] {
// 				@extend %a-prev;
// 		  	left: inherit;
// 		    right: -6%;
// 				background: url('../img/Icon/arrow_next.svg') no-repeat center;
// 		  }
// 		}
// 	}
// }
/* ------| Paguinador |----- */
.view-banner-nodes {
	.skin-default {
    position: relative;
    .views-slideshow-controls-bottom {

      //Flechas paguinador
      .views-slideshow-controls-text {
        //Button Izquierda
        a[rel='prev'] {
          display: none;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 2%;
          top: 40%;
          font-size: 0;
          background: url('../img/Icon/arrow-slide-prev.png') no-repeat center;
          z-index: 1;
        }
        //Buttom Pause
        .views-slideshow-controls-text-pause {
          display: none;
        }
        //Button Deracha
        a[rel='next'] {
          display: none;
          // @extend %a-slidw-prev;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 40%;
          left: inherit;
          right: 2%;
          font-size: 0;
          background: url('../img/Icon/arrow-slide-next.png') no-repeat center;
          z-index: 1;
        }
      }
    }
	}


	//Hover flechas paguinador
	&:hover {
    .views-slideshow-controls-bottom {
      .views-slideshow-controls-text {
        a[rel='prev'],
        a[rel='next']{
          display: block;
        }
      }
    }
	}
}
/* ------| bullet (puntos) |----- */
.view-banner-nodes {
	.views-slideshow-controls-bottom {
		margin-top: 30px;
		width: 100%;
		// margin-left: 15px;
		// margin-right: 15px;
		.views-slideshow-pager-field-processed {
			display: flex;
			justify-content: center;
			overflow-x: scroll;
			margin: 0 auto;
			padding: 10px 0;
			/* width */
			&::-webkit-scrollbar {
				width: 1em;
			}
		//  /* Cuadro */
		//  &::-webkit-scrollbar-track {
		// 	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// 		// background: #f1f1f1;
		// 	}
		/* scroll */
			&::-webkit-scrollbar-thumb {
				// border-radius: 10px;
				background: #888;
			}
			.views-slideshow-pager-field-item {
				margin: 0 5px 10px;
				// min-width: 140px;
				@include respond-to(m) {
					margin: 0 5px;
				}
				//imagen
				.views-content-field-image-banner,
				.views-field-field-video-banner {
					img {
						max-height: 78px;
						width: 140px;
					}
				}
				//numero
				.views-field-counter {
					display: none;
				}
			}
		}
	}
}


/* ------| Tags categorias  |----- */
.noticias {
	.field-name-field-categoria {
		display: flex;
    justify-content: center;
		align-items: center;
		margin: 20px 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			border-top: 1px solid #9e9ca1;
			width: 90%;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: -1;
		}
		.field-item {
			display: inline-flex;
			span {
				margin: 0 10px 0 0;
				a {
					color: #484851;
					text-decoration: none;
					font-family: $latobold;
					display: block;
					padding: 10px 20px;
					border: 1px solid #9e9ca1;
					font-size: 0.89rem;
					background-color: white;
				}
			}
		}

		.hierarchical-select-item-separator {
			display: none;
		}
	}
	.pane-node-title {
		h1 {
			font-family: $latoblack;
			@include font-size(ll);
			color: color('grey');
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			// @include margin-bottom(1.7);
			@include respond-to(m) {
				@include font-size(xxxl);
			}
		}
	}
}