
$white: #FFFFFF;


.navbar-header{

}
.tb-megamenu .always-show .mega > .mega-dropdown-menu,
.tb-megamenu .always-show .dropdown-menu{
  //display: none !important;
}
/* bloques de menu */
#block-views-logos-header-block{
  position: absolute;
  z-index: 9;
  height: 75px;
  display: none;
  width: 242px;
  margin: 12px 0 0 88px;
  @include respond-to(m){
    display: block;
  }
  h2{
    display: none
  }
  .views-row-1,
  .views-row-2{
    @include respond-to(m){
      max-width: 144px;
      margin-bottom: 7px;
      margin-top: 2px;
      display: inline-block;
      width: 48%;
    }
  }
  .views-row-2{
    margin-left: 7px;
    .content{
      border-left: 1px solid white;
      padding: 2px 11px;
    }
  }
}
#block-views-logos-header-block-1{
  position: absolute;
  z-index: 99999;
  top: 0;
  width: 280px;
  left: 13px;
  @include respond-to(m){
    position: fixed;
    z-index: 99999;
    top: 50px;
    display: none;
    width: 280px;
    left: 60px;
  }
  h2.block-title{
    display: none
  }
  .views-row-1,
  .views-row-2{
    max-width: 144px;
    margin-bottom: 7px;
    margin-top: 2px;
    @include respond-to(m){
      display: inline-block;
      width: 48%;
    }
  }
  .views-row-1{
    .content{
      margin-right: 4px;
    }
  }
  .views-row-2{
    margin-left: 7px;
    .content{
      border-left: 1px solid white;
      padding: 0 11px;
    }
  }
}
#block-views-logos-header-block-2{
  position: absolute;
  left: 90px;
  top: 9px;
  display: none;
  @include respond-to(m){
    display: block;
  }
  .element-invisible{
    display: none;
  }
  a{
    padding: 10px 25px;
    background: #353535;
    color: $white;
  }
  h2.block-title{
    display: none;
  }
}
.none{
  display: none !important;
}
.yellow{
  background-color: yellow !important;
}
.black{
  background-color: #1a1a1a;
}
/* clone de bloque */
.parent-clone{
  div:last-child {
    /* width: 61%;
    float: right;
    background: red; */
  }
}

/* reset del megamenu */
.navbar.container,
.navbar.container-fluid{
  margin-top: 0;
  border: none;
}
.tb-megamenu{
  clear: both;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  padding: 0;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover{
  background-color: transparent;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover{
  //background-color: black;
  background-color: transparent;

  @include respond-to(m){
    background-color: transparent;
  }
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus{
  background-color: transparent;
}
.tb-megamenu .dropdown-menu{
 // box-shadow: none;
}
.tb-megamenu .row-fluid, .tb-megamenu .mega-dropdown-menu,
.tb-megamenu .row-fluid [class*="span"]{
  left: initial;
  @include respond-to(m){
    left: 0 !important;
    margin-left: 0;
  }
}
.region-navigation{
  width: 100%;
  z-index: 3;
  @include respond-to(m){
    position: fixed;
  }
}
//iconos
/* .tb-megamenu .dropdown-submenu > a::after{
  display: none;
}
.tb-megamenu .dropdown-submenu:hover > a::after{
  display: none;
} */
.tb-megamenu .row-fluid .span3{
  //width: 255px;
  //margin-left: 0px !important;
  @include respond-to(m){
    //margin-left: 35px !important;
    //margin-left: 350px !important;
  }
}
.tb-megamenu-menu-menu-top-soy{
  .nav-collapse {
    float: right;
    padding: 0 5%;
  }
  &.tb-megamenu .nav > li > a{
    position: relative;
    float: left;
    padding: 9px 8px;
    list-style: none;
    color: #a9a9a9;
    font-size: 13px;
    font-weight: inherit
  }
}
.tb-megamenu .nav > .dropdown > .dropdown-toggle .caret{
  display: none;
}
.tb-megamenu-menu-mega-menu.tb-megamenu .nav > li{
  width: 100%;
}
///
.tb-megamenu .mega.open > .mega-dropdown-menu,
.tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
  //display: none !important;
  @include respond-to(m){
    //display: block !important;
  }
}
/* menu principal */
.tb-megamenu .row-fluid .content-img{
  display: none !important;
 // margin-left: 0;
  //float: right;

  @include respond-to(m){
    display: block !important;
    position: absolute;
    width: auto;
    left: 300px;
    -webkit-transition: all .3s ease-in-out; /* Safari */
    transition: all .3s ease-in-out;
  }
  &.active-sub-nivel{
    //width: 60%;
    top: 10px;
    left: 600px;
    -webkit-transition: all .3s ease-in-out; /* Safari */
    transition: all .3s ease-in-out;
  }
  .menu-title{
    display: none;
  }
  ul.tb-megamenu-subnav.level-1{
    border-left: none !important;
  }
}
.tb-megamenu .dropdown-submenu > .dropdown-menu{
  left: 10000% !important;
  opacity: 0;
}
.tb-megamenu-menu-mega-menu{
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color .2s;
  .dropdown-toggle{
    &::after{
      display: none;
    }
  }
  .level-0 .level-1 >.nav-child{
    overflow: hidden;
    background-color: #ffffff;
    //display: none !important;
    height: 0;
    @include respond-to(m){
     // display: block !important;
      -webkit-transition: right .4s; /* Safari */
      border: none;
      padding-left: 10px;
      height: auto;
      height: 300px;

    }
  }
  .box-black {
    background-color: #1a1a1a;
    height: auto;
    width: 100%;
    right: 0px;
    top: 0px;
    -webkit-transition: right .5s; /* Safari */
    transition: right .5s;
    padding: 20px 30px;
    z-index: 9;
    @include respond-to(m){
    position: absolute;
      padding: 0;
      height: 400px;
      width: 23.076923076923077%;
      top: 0;
      left: -1000px;
      -webkit-transition: left .5s; /* Safari */
      transition: left .5s;
    }
    &.active-box{
      right: 0px;
      -webkit-transition: right .5s; /* Safari */
      transition: right .5s;
      @include respond-to(m){
        left: 0px;
        -webkit-transition: left .5s; /* Safari */
        transition: left .5s;
      }
    }
    a{
      font-size: 12px;
      color: #FFFFFF !important;
      border: none !important;
      word-wrap: break-word;
      word-break: break-all;
      word-wrap: break-word;
      white-space: inherit;
      &:hover{
        color: #484851 !important;
      }
    }
  }
  .clone-nivel-3{
    display: block;
    position: relative;
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .nav-child{
    &.active-clone{
      position: relative;
      display: block;
      opacity: 0;
      transition: .4;
      border: none;
      background: transparent;
      box-shadow: none;
      margin-left: -400px;
      transition: all .3s ease-in-out;
      &.efect{
        opacity: 1;
        margin-left: 0px;
        transition: all .3s ease-in-out;
      }
    }
  }
  li.level-2 *.nav-child{
    //position: fixed;
    //opacity: 1;
    opacity: 0;
    height: 100%;
    background: white;
    z-index: 9999999999;
    top: 0px;
    margin-left: 0;
    height: 0;
    /* left: 0 !important;
    padding: 0px 12px; */
    &.active-subnivel{
      //opacity: 1;
      //position: fixed;
    }
    @include respond-to(m){
      opacity: 0;
      margin-left: -420px;
      //position: fixed;
      //height: 0;
      //-webkit-transition: opacity .4s; /* Safari */
      //transition: opacity .4s;
      //position: absolute;
      //top: 0;
      &.active {
        //opacity: 1;
        //display: block;
        //margin-left: 220px;
       /// margin-left: 259px;
        //-webkit-transition: opacity 1s, margin-left .4s; /* Safari */
    //transition: opacity 1s, margin-left .4s;
      }
    }
    .tb-megamenu-column.mega-col-nav{
      top: 87px;
    }
  }

  ul.tb-megamenu-subnav.level-1,
  ul.tb-megamenu-subnav.level-2,
  ul.tb-megamenu-subnav.level-3 {
    width: 100%;
    padding: 0px;
    border-left: 1px solid #c8c8ca;
    background-color: rgba(255, 255, 255, 1.0);
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
    @include respond-to(m){
      width: 90%;
    }
    &.active{
      background-color: rgba(255, 255, 255, 1.0);
      -webkit-transition: background-color 2s; /* Safari */
      transition: background-color 2s;
    }
    > li a{
      &:first-child{
        padding-top: 0;
      }
    }
  }
  .nav-collapse {
    float: right;
    padding: 0 5%;
  }
  &.tb-megamenu {
    .mega-nav > li a,
    .dropdown-menu {
     // border: none;
      .mega-nav > li a{
        background-color: transparent;
        background: 0 0;
        text-align: left;
        font-size: .78rem;
        color: #484851;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
      }
    }
    .nav > li {
      list-style: none;
      float: left;
      position: relative;
      width: 100%;
      padding: 0 5px;
      margin-left: 0;
      height: 50px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      &.open{
        background-color: #1a1a1a;
        border: none;
        @include respond-to(xl) {
          background-color: #FFFFFF;
        }
      }
      @include respond-to(m) {
        width: 136px;
        height: 74px;
      }
      > a{
        color: #484851 !important;
        border: none;
        font-family: Lato,sans-serif;
        //padding: 29px 9px;
        font-size: .83rem;
        line-height: .9rem;
        text-align: center;
        transition: .3s;
        display: inline-block;
        vertical-align: middle;
        font-weight: initial;
      }
    }
  }
}
.navbar-header{
  background:yellow;
  &::before{
    content: '.....';
    display: block;
    width: 100%;
    background: black;
    height: 60px;
    font-size: 0;
  }
  .navbar-toggle{
    background: transparent;
  }
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent !important;
}
.tb-megamenu .nav-collapse .nav > li.active > a:hover,
.tb-megamenu .nav-collapse .nav > li.active > a:focus {
  background: black;
  @include respond-to(m){
    background: transparent;
  }
}
#block-tb-megamenu-menu-menu-top-soy{
  display: none;
  @include respond-to(m){
    display: block;
  }
}
.tb-megamenu-menu-mega-menu{
  .tb-megamenu-button{
    display: none;
  }
  .always-show{
    background: #1a1a1a;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: 100%;
    top: -9px;
    -webkit-transition: right .4s; /* Safari */
    transition: right .4s;
    @include respond-to(m){
      height: 85%;
    }
    .dropdown-menu.container-submenu{
      //right: -10000px;
      //transition: right .4s;
      @include respond-to(m){
        //right: 0;
        //left: 0;
      }
      &.active-mobile{
        position: fixed;
        background-color: #ffffff;
        top: 0px;
        display: block !important;
        padding: 0;
        right: 0;
        -webkit-transition: right .4s; /* Safari */
        transition: right .4s;
        height: 100%;
        .tb-megamenu-column-inner{
          padding: 40px 0 0 41px;
        }
      }
    }
    @include respond-to(m){
      top: 0px;
      padding: 0;
      width: 70%;
      overflow-x: initial;
      overflow-y: initial;
      background: transparent;
    }
    .separador-menu {
      width: 100%;
      height: 11px;
      background-image: url(../img/lines-menu-mobile.png);
      background-size: 280px 11px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      margin: 20px 0 0;
      padding: 0 20px;
    }
    .menu-soy {
      width: 90%;
      position: relative;
      border: 1px solid #484848;
      height: 45px;
      margin: 20px auto 16px;
      font-family: Lato,sans-serif;
      font-size: .88rem;
      color: #a8a8a8;
      padding: 7px 20px;
      span {
        display: block;
        position: relative;
        width: 30%;
        float: left;
        top: 4px;
        font-size: 16px;
      }
      select{
        background: url(../img/icon-flecha-abajo.png) right center no-repeat;
        border: none;
        color: #626262;
        display: block;
        position: relative;
        width: 70%;
        float: right;
        appearance: none;
        font-size:  15.8333px;
        padding: 0 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: 0;
      }
    }
    .clone{
      padding: 20px 20px;
      display: flex;
      @include respond-to(m){
        background: yellow;
        display: none;
      }
      .clone-block{
        background: #313131;
        color: #fff;
        float: left;
        list-style: none;
        position: relative;
        width: 47%;
        width: 48%;
        text-align: center;
        margin: 0 1%;
        a{
          color: #fff;
          text-decoration: none;
          font-family: Lato,sans-serif;
          display: inline-block;
          padding: 10px 0;
          font-size: .88rem;
        }
      }
    }
    ul.tb-megamenu-nav.level-0{
      li.level-1.active{
        float: inherit;
        margin: 0 auto;
        padding: 0 0px;
        @include respond-to(m){
          float: left;
          margin-left: 0;
        }
        &.active{
          height: 50px;
          width: auto;
          @include respond-to(m){
            width: 136px;
            height: 77px;
          }
        }
        a{
          border: none;
          //color: #696969 !important;
          font-size: 1.08rem;
          text-decoration: none;
          font-family: Lato,sans-serif;
          font-weight: 300;
          color: #1a1a1a;

          @include respond-to(m){
            font-size: .83rem;
            font-weight: initial;
          }
        }
      }
    }
  }
}