/* reset del megamenu */
.tb-megamenu{
  clear: both;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover{
  background-color: transparent;
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus{
  background-color: transparent;
}
.tb-megamenu .dropdown-menu{
  box-shadow: none;
}
//iconos
/* .tb-megamenu .dropdown-submenu > a::after{
  display: none;
}
.tb-megamenu .dropdown-submenu:hover > a::after{
  display: none;
} */
.tb-megamenu .row-fluid .span3{
  width: 20%;
  margin-left: 20px !important;
}
.tb-megamenu-menu-menu-top-soy{
  .nav-collapse {
    float: right;
    padding: 0 5%;
  }
  &.tb-megamenu .nav > li > a{
    position: relative;
    float: left;
    padding: 9px 8px;
    list-style: none;
    color: #a9a9a9;
    font-size: 13px;
    font-weight: inherit
  }
}
.tb-megamenu .nav > .dropdown > .dropdown-toggle .caret{
  display: none;
}
///@at-root
.tb-megamenu .mega.open > .mega-dropdown-menu,
.tb-megamenu .mega.dropdown-submenu:hover > .mega-dropdown-menu {
  display: block !important;
}
/* menu principal */
.content-img{
  margin-left: 0 !important;
  float: right !important;
  -webkit-transition: width .5s; /* Safari */
  transition: width .5s;
  .menu-title{
    display: none;
  }
  &.active{
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
    width: 60% !important;
  }
  ul.tb-megamenu-subnav.level-1{
    border-left: none !important;
  }
}
.tb-megamenu-menu-mega-menu{
  background-color: #ffffff;
  .dropdown-toggle{
    &::after{
      display: none;
    }
  }
  .container-submenu{
    height: 350px;
    overflow: hidden;
    //background-color: aqua;
  }
  .box-black {
    background-color: black;
    height: 400px;
    width: 20%;
    position: absolute;
    left: -400px;
    top: 0;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
    z-index: 3;
    &.active-box{
      left: 0px;
      -webkit-transition: left .5s; /* Safari */
      transition: left .5s;
    }
    a{
      font-size: 12px;
      color: #FFFFFF;
      word-wrap: break-word;
      word-break: break-all;
      word-wrap: break-word;
      white-space: inherit;
    }
  }
  li.level-2 *.nav-child{
    opacity: 0;
    margin-left: -420px;
    position: absolute;
    position: initial;
    height: 0;
    -webkit-transition: opacity .4s; /* Safari */
    transition: opacity .4s;
    &.active {
      opacity: 1;
      display: block;
      margin-left: 220px;
      -webkit-transition: opacity 1s, margin-left .4s; /* Safari */
      transition: opacity 1s, margin-left .4s;
    }
    .box-black{
      display: none;
    }
    .tb-megamenu-column.mega-col-nav{
      top: 87px;
    }
  }

  ul.tb-megamenu-subnav.level-1,
  ul.tb-megamenu-subnav.level-2 {
    padding: 0px 20px;
    width: 90%;
    padding: 10px;
    border-left: 1px solid #c8c8ca;
    background-color: rgba(255, 255, 255, 1.0);
    -webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
    &.active{
      background-color: rgba(255, 255, 255, 1.0);
      -webkit-transition: background-color 2s; /* Safari */
      transition: background-color 2s;
    }
    > li a{
      &:first-child{
        padding-top: 0;
      }
    }
  }
  .nav-collapse {
    float: right;
    padding: 0 5%;
  }
  &.tb-megamenu {
    .mega-nav > li a,
    .dropdown-menu {
      border: none;
      .mega-nav > li a{
        background-color: transparent;
        background: 0 0;
        text-align: left;
        font-size: .78rem;
        color: #484851;
        padding: 10px 0;
        border: none;
        cursor: pointer;
      }
    }
    .nav > li {
      list-style: none;
      float: left;
      position: relative;
      width: 136px;
      padding: 0 5px;
      margin-left: 0;
      height: 74px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      &.open{
        background-color: #FFFFFF;
        border: none;
      }
      > a{
        color: #484851 !important;
        border-right: none;
        font-family: Lato,sans-serif;
        padding: 29px 9px;
        font-size: .83rem;
        line-height: .9rem;
        text-align: center;
        transition: .3s;
        display: inline-block;
        vertical-align: middle;
        font-weight: initial;
      }
    }
  }
}