/*
//------------------------------------------------------------------------------
// Slider Homes
//------------------------------------------------------------------------------
*/

/* ------| Slider Home|----- */
.view-slider-homes {
	.views_slideshow_swiper-processed {
		height: 609px;
		ul {
			padding: 0px;
			list-style: none;
			li.swiper-slide {
				overflow: hidden;
				display: block;
				height: 600px;
				.views-slideshow-swiper-main-frame-row-item {
					display: inline-flex;
					width: 100%;
					overflow: hidden;
					height: 100%;
					.views-field.views-field-views-conditional {
						width: 100%;
						.img-desktop{
							display: none;
							@include respond-to(xl) {
								display: block;
							}
						}
						.img-mobile{
							display: block;
							@include respond-to(xl) {
								display: none;
							}
						}
						.img-content {
							// height: 100%;
							.img-desktop {
								width: 100%;
								height: 100%;
								img {
								width: 100%;
								height: 100%;
								}
							}

						}
						.iframe-conten {
							display: block;
							overflow: hidden;
							height: 50%;
							@include respond-to(m) {
								height: 79%;
							}
							.youtube-container--responsive {
								padding-bottom: initial;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}

/* ------| Ubicado Leth |----- */
.view-slider-homes {
	.slider-homes-left {
		@extend %slider-homes-lef;
  	//Titulo
  	.title-slider-homes {
			@extend %title-slider-home;
  	}
  	//Sub titulo
  	.body-slider-homes {
			@extend %body-slider-home;
  	}
  	//Buttom
  	.link-slider-homes {
  		@extend %link-slider-home;
  	}
	}
}

/* ------| Ubicado Rigth |----- */
.view-slider-homes {
	.slider-homes-right {
		@extend %slider-homes-lef;
		@include respond-to(m) {
  		left: inherit;
			right: 10%;
		}
		//Titulo
    .title-slider-homes {
      @extend %title-slider-home;
      @include respond-to(m) {
      	text-align: right;
    	}
		}
		//Sub titulo
    .body-slider-homes {
    	@extend %body-slider-home;
    	@include respond-to(m) {
    		text-align: right;
    	}
		}
		//Buttom
  	.link-slider-homes {
  		@extend %link-slider-home;
  	}
	}
}

// /* ------| Ubicado Centro |----- */
.view-slider-homes {
	.slider-homes-center {
		@extend %slider-homes-lef;
		@include respond-to(m) {
  		left: inherit;
			right: 30%;
		}
		//titulo
    .title-slider-homes {
      @extend %title-slider-home;
      @include respond-to(m) {
      	text-align: center;
    	}
		}
		//sub titulo
    .body-slider-homes {
    	@extend %body-slider-home;
    	@include respond-to(m) {
    		text-align: center;
    	}
		}
		//Buttom
  	.link-slider-homes {
  		@extend %link-slider-home;
  	}
	}
}

// /* ------| Ubicado Abajo |----- */
.view-slider-homes {
	.field-content {
		.slider-homes-bottom {
			padding: 0 15px;
			overflow: hidden;
			@include margin(.834 0);
			@include respond-to(m) {
				width: 750px;
				@include margin(.834 auto .834);
			}
			@include respond-to(xl) {
				width: 970px;
			}
			@include respond-to(xxxl) {
  			width: 1170px;
			}
			//titulo
			.title-slider-homes {
				width: 100%;
				font-family: $latobold;
				@include font-size(l);
				@include margin(.417 0);
				text-transform: uppercase;
				color: #585863;
				min-height: 50px;
				padding-bottom: 10px;
				@include respond-to(xs) {
					float: left;
				}
				@include respond-to(m) {
					width: 41.66666667%;
					text-align: right;
					padding-right: 25px;
					padding-bottom: 0;
				}
			}
			//sub titulo
			.body-slider-homes {
		    margin: 0;
		    font-family: $crimson-textregular;
		    text-align: left;
				color: #585863;
				@include respond-to(xs) {
					float: left;
				}
		  	@include font-size(m);
		  	border-top: 1px solid #ebba00;
		    padding-top: 15px;
		    position: relative;
		    min-height: 50px;
		    @include respond-to(m) {
					width: 33.33333333%;
					border: 0;
					border-left: 1px solid #ebba00;
					padding-left: 25px;
		    }
			}
			//button
			.link-slider-homes {
				margin: 15px 0;
				@include respond-to(xs) {
				 margin: 0;
				}
				a {
					max-width: 145px;
					display: block;
					text-decoration: none;
					text-align: center;
					@include margin(0 auto);
				  border: 1px solid #484851;
				  color: #484851;
					padding: 10px 35px;
					@include respond-to(xs) {
						float: right;
						@include margin(.834 .834 0 auto);
					}
				  &:hover {
    				background: color('grey-dark');
    				color: color('white');
    			}
				}
			}
		}
	}
}

/* ------| Paguinador |----- */
.view-slider-homes {
	.skin-default {
		position: relative;
		//Flechas paguinador
		.views-slideshow-controls-text {
    	//Button Izquierda
			a[rel='prev'] {
				@extend %a-slidw-prev;
			}
			//Buttom Pause
			.views-slideshow-controls-text-pause {
				display: none;
			}
			//Button Deracha
			a[rel='next'] {
				@extend %a-slidw-prev;
		    left: inherit;
		    right: 2%;
				background: url('../img/Icon/arrow-slide-next.png') no-repeat center;
		  }
		}
	}
	//Hover flechas paguinador
	&:hover {
		.views-slideshow-controls-text {
			a[rel='prev'] {
				display: block;
			}
			a[rel='next'] {
				display: block;
			}
		}
	}
}

//Bulles Slider right, left, center en linea
.view-slider-homes {
	.views-slideshow-controls-bottom {
		display: block;
	}
	.views-slideshow-controls-bottom,
	.slider-homes-right-control,
	.slider-homes-center-control,
	.slider-homes-left-control {
		text-align: center;
		@include respond-to(m) {
			text-align: right;
		}
		.views-slideshow-pager-field-processed	{
			width: 100%;
			position: absolute;
			bottom: 3%;
			right: 0px;
			z-index: 9;
			@include respond-to(xl) {
				bottom: 10%;
			}
			@include respond-to(m) {
				padding-right: 9%;
			}
			.views-slideshow-pager-field-item {
				display: inline-block;
				@include respond-to(xl) {
					padding: 0 5px;
				}
				a {
					width: 40px;
					height: 18px;
					font-size: 0;
					display: block;
					text-decoration: none;
					border-bottom: 3px solid color('grey-secundary');
					padding: 0;
					margin: 0 5px;
					@include respond-to(xl) {
						width: 63px;
						margin: 0px
					}
				}
				&.active {
					a {
						border-bottom: 3px solid color('yellow-defaul');
					}
				}
			}
		}
	}
}

//Puntos botton
.view-slider-homes {
	.slider-homes-bottom-control {
		.views-slideshow-pager-field-processed {
			position: absolute;
			bottom: 6px;
			width: 100%;
			padding: 0;
			z-index: 1;
			@include bullet(transparent, grey-secundary, yellow-defaul, yellow-defaul);
		}
	}
}
