/*
//------------------------------------------------------------------------------
// Slider Homes
//------------------------------------------------------------------------------
*/

.container .view-slider-homes {
	.views_slideshow_main .iframe-conten {
		padding-top: 29% !important;
	}
}

/* ------| Defaul Iframe y Imagen |----- */
.slider-pricipal-node {
	.swiper-wrapper {
		margin: 0px;
	}
	.views-field.views-field-views-conditional {
		width: 100%;
	}
	.field-content {
		position: relative;
		display: block;
	}
	.img-desktop {
		display: none;
		@include respond-to(xl) {
			display: block;
		}
		.img-responsive {
			width: 100%;
		}
	}
	.img-mobile {
		display: block;
		@include respond-to(xl) {
			display: none;
		}
	}
	.img-content {
		.img-mobile {
			img {
			width: 100%;
			height: 100%;
			}
		}
	}
	.slider-homes-empty {
		display: none;
	}
	//imagen slider destock
	.cl-slider-homes-layout-one,
	.cl-slider-homes-layout-two,
	.cl-slider-homes-layout-three,
	.cl-slider-homes-layout-four,
	.cl-slider-homes-layout-five,
	.cl-slider-homes-layout-seven,
	.cl-slider-homes-layout-eleven,
	.cl-slider-homes-right,
	.cl-slider-homes-center,
	.cl-slider-homes-left,
	.cl-slider-homes-right-deca,
	.cl-slider-homes-center-deca,
	.cl-slider-homes-left-deca,
	.cl-slider-homes-bottom,
	.cl-slider-homes-specials,
	.cl-slider-homes-bottom-deca {
		height: 100%;
		.iframe-conten {
			position: relative;
			display: block;
			overflow: hidden;
			padding-top: 75%;
			height: 100%;
			background: black;
			@include respond-to(xl) {
				padding-top: 29%;
			}
		}
		.youtube-container--responsive {
			padding-bottom: inherit;
			height: 100%;
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}
/* ------| Defail Titulo, Body, Buttom |----- */
.slider-pricipal-node {
	&.views_slideshow_main {
		.conten {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
			@include respond-to(m){
				max-width: 800px;
			}
			//titulo
			.title-slider-homes {
				@extend %title-slider-home;
			}
			//Sub titulo
			.body-slider-homes {
				@extend %body-slider-home;
			}
			//Buttom
			.link-slider-homes {
				@extend %link-slider-home;
			}
		}
	}
}
/* ------| Ubicado Leth |----- */
.slider-pricipal-node {
	.slider-homes-left {
		@extend %slider-homes-lef;
		//Titulo
		.title-slider-homes {
			@extend %title-slider-home;
			@include respond-to(m) {
				@include font-size(xxl);
				text-align: left !important;
			}
			&:after {
				content: '';
				display: block;
				height: 1px;
				border-top: 1px solid color('white');
				position: relative;
				top: 10px;
			}
		}
		//Sub titulo
		.body-slider-homes {
			@extend %body-slider-home;
			@include respond-to(m) {
				text-align: left !important;
			}
		}
		//Buttom
		.link-slider-homes {
			@extend %link-slider-home;
		}
	}
}
/* ------| Ubicado Rigth |----- */
.slider-pricipal-node {
	.slider-homes-right {
		@extend %slider-homes-lef;
		@include respond-to(m) {
			left: inherit;
			right: 10%;
		}
		//Titulo
		.title-slider-homes {
			@extend %title-slider-home;
			@include respond-to(m) {
				text-align: right !important;
			}
			&:after {
				content: '';
				display: block;
				height: 1px;
				border-top: 1px solid color('white');
				position: relative;
				top: 10px;
			}
		}
		//Sub titulo
		.body-slider-homes {
			@extend %body-slider-home;
			@include respond-to(m) {
				text-align: right !important;
			}
		}
		//Buttom
		.link-slider-homes {
			@extend %link-slider-home;
		}
	}
}
/* ------| Ubicado Centro |----- */
.slider-pricipal-node {
	.slider-homes-center {
		@extend %slider-homes-lef;
		@include respond-to(m) {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		//titulo
		.title-slider-homes {
			@extend %title-slider-home;
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				border-top: 1px solid color('white');
				position: relative;
				top: 10px;
			}
		}
		//sub titulo
		.body-slider-homes {
			@extend %body-slider-home;
		}
		//Buttom
		.link-slider-homes {
			@extend %link-slider-home;
		}
	}
}
/* ------| Ubicado Buttom |----- */
.slider-pricipal-node {
	//posicion contenido abajo
	.slider-homes-bottom {
		background-color: #f4f1f1;
		border-bottom: 2px solid #ebba00;
		box-sizing: border-box;
		@include respond-to(m) {
			padding: 20px 30px;
		}
		.conten {
			padding: 20px 15px 42px;
			overflow: hidden;
			margin: 0 auto;
			max-width: 100%;
			@include respond-to(xs) {
				display: flex;
				align-items: center;
			}
			@include respond-to(m) {
				padding: 0 15px 35px;
				width: 750px;
			}
			@include respond-to(xl) {
				width: 970px;
			}
			@include respond-to(xxxl) {
				width: 1170px;
			}

			//titulo
			.title-slider-homes {
				width: 100%;
				font-family: $latobold;
				@include font-size(l);
				// @include margin(.417 0);
				text-transform: uppercase;
				color: #585863;
				line-height: 20.9px;
				padding-bottom: 10px;
				box-sizing: border-box;
				@include respond-to(xs) {
					min-height: 50px;
					float: left;
					width: 41.66666667%;
					text-align: right;
					padding-right: 20px;
					padding-left: 20px;
					padding-bottom: 0;
				}
			}
			//sub titulo
			.body-slider-homes {
				font-family: $crimson-textregular;
				@include font-size(m);
				text-align: left;
				color: #585863;
				line-height: 19.8px;
				border-top: 1px solid #ebba00;
				position: relative;
				min-height: 50px;
				padding: 15px 0 25px;
				margin: 0;
				@include respond-to(xs) {
					float: left;
					padding: 0 15px 0 25px;
					width: 33.33333333%;
					border: 0;
					border-left: 1px solid #ebba00;
				}
			}
			//button
			.link-slider-homes {
				padding: 0px;
				@include respond-to(xs) {
					padding: 0px 10px;
					margin: 0;
				}
				a {
					max-width: 146px;
					display: block;
					text-decoration: none;
					text-align: center;
					border: 1px solid #484851;
					font-family: $latolight;
					@include font-size(m);
					color: #484851;
					margin: 0 auto;
					padding: 10px 35px;
					box-sizing: border-box;
					&:hover {
						background: color('grey-dark');
						color: color('white');
					}
				}
			}
		}
	}
	// bules y flechas
	&.slider-homes-bottom-container {
		// controls flechas
		.swiper-home-next,
		.swiper-home-prev {
			background-size: 28px 28px;
			top: auto;
			bottom: 55px;
			display: none;
			@include respond-to(xl) {
				display: block;
				bottom: 70px;
			}
		}
		.swiper-home-prev {
			background: url('../img/Icon/slide-prev.png') no-repeat center;
		}
		.swiper-home-next {
			background: url('../img/Icon/slide-next.png') no-repeat center;
		}
		// control bulless
		.pagination-wrap {
			.swiper-pagination-home {
				text-align: center;
				padding: 0px;
				margin: 15px 0px;
				.swiper-pagination-bullet {
					width: 12px !important;
					height: 12px !important;
					border-radius: 100% !important;
					background-color: color(grey-secundary) !important;
					border-color: transparent;
					&-active{
						background-color: color(yellow-defaul) !important;
						border-color: color(yellow-defaul) !important;
					}
				}
			}
		}
	}
}
/* ------| Ubicado layout 2, layout 3, layout 7 |----- */
.slider-pricipal-node {
	.slider-homes-layout-two,
	.slider-homes-layout-three,
	.slider-homes-layout-seven {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translate3d(-50%,-50%,0);
		.conten{
			margin: 0px;
			padding: 0px;
			.title-slider-homes {
				padding: 0px;
			}
			.body-slider-homes {
					font-family: $latolight;
					line-height: normal;
					padding: 0px;
					margin: 0px;
			}
		}
	}
	// layout 7
	.slider-homes-layout-seven {
		.body-slider-homes p {
			padding: 0px !important;
			margin: 0px !important;
		}
	}
	// layout 4
	.slider-homes-layout-four {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.conten {
			.title-slider-homes {
				padding: 5px 0px;
			}
			.body-slider-homes {
				margin: 0px !important;
				.layout4-subtitle {
					font-family: $latolight;
					@include font-size(m);
					color: color('white');
					text-align: center;
					line-height: normal;
					padding: 10px 0 ;
					margin: 0px;
				}
				.layout4-text-corto {
					font-family: $latolight;
					line-height: normal;
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
}
/* ------| Eventos Destacados  |----- */
.slider-pricipal-node {
	.events-specials-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.imagen-slider-eventos {
			text-align: center;
		}
		.text-wrap {
			// Titulo
			.title-slider-eventos {
				font-family: $latobold;
				@include font-size(xl);
				color: color('white');
				text-transform: uppercase;
				text-align: center;
				margin: 0;
				padding: 10px 0px;
				line-height: 1;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					border-top: 1px solid color('white');
					position: relative;
					top: 10px;
				}
			}
			// Body
			.body-slider-eventos {
				font-family: $crimson-textregular;
				@include font-size(m);
				line-height: 1;
				margin: 10px 0;
			}
		}
		.link-slider-homes {
			a {
				padding: 0.33rem 1.675rem !important;
			}
		}
	}
	&.slider-homes-layout-eleven-container {
		.pagination-wrap {
			bottom: 30px !important;
		}
	}
}
/* ------| Latout 11  |----- */
.slider-pricipal-node {
	.slider-homes-layout-eleven {
		background: white;
		.conten {
			padding: 0px;
			max-width: 100%;
			.body-slider-homes {
				text-align: left;
				@include font-size(xxs);
				line-height: 0.8rem;
				font-style: italic;
				color: #484851;
				padding: 5px 5px;
				margin: 0px;
				color: black;
			}
		}
	}
}
/* ------| Alineacion especiales|----- */
.slider-homes-specials {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	margin: 0 auto;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	.conten {
		padding: 0px;
		max-width: auto;
		margin: 0px;
		//redes sociales horizontales
		.Redes-sociales {
			margin: 0 auto;
			width: auto;
			text-align: center;
			.share-container {
				display: inline-block;
				margin: 0 auto;
				border-top: none;
				padding: 0;
				box-sizing: border-box;
			}
			.block-udla-simplified-social-share{
				h2{
					display: none;
				}
			}
		}
		//body texto
		.body-slider-homes {
			margin-top: 0;
			.text-center {
				color: color('white');
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-left: 0;
				padding-right: 0;
				box-sizing: border-box;
				&:nth-child(1) {
					font-family: $crimson-textitalic;
					@include font-size(o);
					@include respond-to(xl) {
						@include font-size(sl);
					}
				}
				&:nth-child(2) {
					font-family: $latoblack;
					text-transform: uppercase;
					margin: 0;
					padding: 10px 0;
					@include font-size(sl);
					@include respond-to(xl) {
						@include font-size(xl);
					}
				}
				&:nth-child(3) {
					font-family: $latoregular;
					margin-bottom: 8px;
					@include font-size(o);
					@include respond-to(xl) {
						@include font-size(l);
					}
				}
				&:nth-child(4) {
					font-family: $crimson-textregular;
					@include font-size(m);
				}
			}
		}
	}
}
/* ------| Alineacion botones left rigtht |----- */
.slider-pricipal-node {
	.conten {
		position: relative;
		&-box {
			position: relative;
			&:after {
				@extend %before-box-color;
			}
		}
	}
	//alineacion de button
	.slider-homes-left{
		.link-slider-homes {
			@include respond-to(m) {
				text-align: left !important;
			}
		}
	}
	//alineacion de button
	.slider-homes-right{
		.link-slider-homes{
			@include respond-to(m) {
			 text-align: right !important;
			}
		}
	}
	.slider-homes-bottom-container{
		.title-slider-homes{
			&:after{
				display: none;
			}
		}
	}
}
/* ------| Bullest & Flechas defaul |----- */
.slider-pricipal-node {
	// hover para visualzir las imagenes
	&.views_slideshow_main {
		position: relative;
		@include respond-to(xl) {
			&:hover {
				.swiper-button-next,
				.swiper-button-prev {
					display: block;
				}
			}
		}
	}
	// Flechas de paginacion
	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
		display: none;
		position: absolute;
		top: 50%;
		font-size: 0;
		background-size: 40px 40px;
		z-index: 1;
		&:focus{
			outline: none;
		}
	}
	.swiper-button-prev {
		left: 2%;
		right: auto;
		margin-top: -20px;
		background: url('../img/Icon/arrow-slide-prev.png') no-repeat center;
	}
	.swiper-button-next {
		right: 2%;
		left: auto;
		margin-top: -20px;
		background: url('../img/Icon/arrow-slide-next.png') no-repeat center;
	}
	// Bulles
	.pagination-wrap {
		.swiper-pagination-home {
			display: inline-block;
			text-align: center;
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			padding: 15px 0;
			box-sizing: border-box;
			z-index: 1;
			@include respond-to(m) {
				text-align: right;
				padding-right: 9%;
			}
			.swiper-pagination-bullet {
				width: 40px;
				height: 18px;
				border: none;
				border-bottom: 3px solid color(grey-secundary);
				border-radius: 0;
				padding: 0;
				margin: 0 5px;
				background-color: transparent;
				opacity: 1;
				@include respond-to(xl) {
					width: 63px;
				}
				&-active{
					border-color: color(yellow-defaul);
				}
				&:focus{
					outline: none;
				}
			}
		}
	}
}
/* ------| container arrows |----- */
.container-arrows {
	// Wraper y tamaño darle espacio para los botones
	.slider-pricipal-node {
		width: 100%;
		margin: 0px auto;
		@include respond-to(xs) {
		width: 90%;
		}
	}
	// Flechas de paginacion
	.swiper-button-next,
	.swiper-button-prev {
		width: 45px;
		height: 45px;
		display: none;
		@include respond-to(xl) {
			display: block;
		}
		@include respond-to(xxxl) {
			width: 50px;
			height: 50px;
		}
	}
	.swiper-button-prev {
		left: 1.3%;
		right: auto;
		margin-top: -20px;
		background: url('../img/Icon/arrow_left.png') no-repeat center;
	}
	.swiper-button-next {
		right: 1.3%;
		left: auto;
		margin-top: -20px;
		background: url('../img/Icon/arrow_right.png') no-repeat center;
	}
}
/* ------| bullest nodos internos carga de imagenes |----- */
.view-banner-nodes {
	.skin-default{
		.views_slideshow_main {
			position: relative;
		}
		.pagination-wrap {
			position: relative;
			left: 0;
			right: 0;
			text-align: center;
			white-space: nowrap;
			overflow: scroll;
			white-space: nowrap;
			outline-width: 0px;
			resize:none;
			@include respond-to(xl) {
				overflow: hidden;
			}
		}
		.swiper-pagination-banner-nodes {
			position: relative;
			display: inline-block;
			text-align: center;
			left: 0;
			right: 0;
			padding: 15px 0;
			padding-top: 40px;
			box-sizing: border-box;
			z-index: 1;
			.swiper-pagination-bullet {
				width: 140px;
				height: 78px;
				border: none;
				border-radius: 0;
				padding: 0;
				margin: 0 5px;
				position: relative;
				opacity: 0.8;
				overflow: hidden;
				box-sizing: border-box;
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
					background-color: rgba(0, 0, 0, 0.49);
				}
				&-active {
					// opacity: 1;
					// background-color: red;
					&:before {
						background-color: transparent;
					}
				}
				&:focus {
					outline: none;
				}
				img {
					object-fit: cover;
					min-width: 100%;
					max-width: auto;
					min-height: 100%;
				}
			}
		}
	}
}
/* ------| Tamaño de iframe cuando esta en container |----- */
.container {
	.cl-slider-homes-layout-two-container,
	.cl-slider-homes-layout-one-container,
	.cl-slider-homes-layout-two-container,
	.cl-slider-homes-layout-three-container,
	.cl-slider-homes-layout-four-container,
	.cl-slider-homes-layout-five-container,
	.cl-slider-homes-layout-seven-container,
	.cl-slider-homes-layout-eleven-container,
	.cl-slider-homes-right-container,
	.cl-slider-homes-center-container,
	.cl-slider-homes-left-container,
	.cl-slider-homes-right-deca-container,
	.cl-slider-homes-center-deca-container,
	.cl-slider-homes-left-deca-container,
	.cl-slider-homes-bottom-container,
	.cl-slider-homes-specials-container,
	.cl-slider-homes-bottom-deca {
		@include respond-to(xl){
			.iframe-conten {
				padding-top: 45%;
			}
		}
	}
}