/*
//------------------------------------------------------------------------------
// Equipos
//------------------------------------------------------------------------------
*/

.view-id-equipo_de_trabajo{
  /* tabs de equipos */
  ul.quicktabs-tabs {
    display: flex;
    overflow-x: scroll;
    padding: 30px 0;
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }
    /* scroll */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    li {
      flex: 1 1 0;
      padding: 0 20px;
      text-align: center;
      a {
        font-family: $latoregular;
        padding: 5px 4px;
        text-decoration: none;
        @include font-size(o);
        &:hover{
          text-decoration: none;
        }
      }
      &.active{
        a {
          color: #888;
          border-bottom: 3px solid color('blue-light');
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
/* ------| Equipos  |----- */
.view-contenido-equipo-de-trabajo {
  padding: 20px 0 0 0;
  .view-content {
    @include respond-to(xl) {
      margin-top: 30px;
    }
    .views-row {
      display: block;
      .field-content {
        .content-equipo {
          position: relative;
          min-height: 1px;
          margin: 0 auto;
          padding-right: 15px;
          padding-left: 15px;
          float: left;
          width: 100%;
          @include respond-to(xs) {
            width: 50%;
          }
          @include respond-to(xl) {
            width: 33.33333333%;
          }
        }
        //contenedor
        .thumbnail {
          position: relative;
          display: inline-block;
          background-color: transparent;
          border: none;
          padding: 0;
          @include respond-to(xl) {
            width: 279px;
            height: 279px;
            &:hover .caption {
              z-index: 2;
            }
          }
          /* imagen */
          .imagen {
            img {
              border-radius: 50%;
            }
          }
          /* text */
          .caption {
            width: 100%;
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            z-index: -2;
            @include respond-to(xl) {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              background: rgba(0, 0, 0, 0.6);
            }
            p {
              @include respond-to(xl) {
                color:  color('white');
              }
              color:  color('black');
              text-align: center;
              margin: 0;
              &:nth-child(1) {
                font-family: $latobold;
                @include font-size(m);
                line-height: 1;
                letter-spacing: 1px;
              }
              &:nth-child(2) {
                font-family: $latolight;
                @include font-size(m);
              }
              &:nth-child(3) {
                font-family: $latolight;;
                @include font-size(m);
              }
              &:nth-child(4) {
                font-family: $latolight;
                @include font-size(m);
              }
            }
          }
        }
      }
    }
  }
}

  /* ------| Paguinadores |----- */
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: color('white');
      border-radius: 0;
      padding: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        border-top: 1px solid color('orange');
        z-index: -1;
      }
      li {
        color: #484851;
        border: 1px solid color('white');
        border-radius: 0;
        background-color: color('white');
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid color('white');
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: color('white');
          .ajax-progress {
            display: none;
          }
        }
        &.active {
          border-color: color('orange');
          span {
            background-color: transparent;
            border-radius: initial;
            color: color('black');
            border: initial;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
