
/* tabs */
.quicktabs-wrapper {
  ul.quicktabs-tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    padding-inline-start: 0px;
    li {
      margin: 10px 0;
      // padding: 15px 50px;
      display: block;
      list-style: none;
      @include respond-to(xs) {
        display: inline-block;
        margin: 0px;
      }
      a {
        font-family: $latobold;
        @include font-size(s);
        text-align: center;
        text-decoration: none;
        transition: background .5s;
        background-color: #f0eeee;
        padding: 15px 50px;
        display: block;
        cursor: pointer;
      }
      &.active {
        a {
          background-color: #e34d1f;
          color: color('white');
          transition: background .5s;
        }
      }
    }
  }
}


.view-componente-especiales {
  > .view-content {
    > div {
      padding: 10px 0;
      background: color('grey-light');
      margin-bottom: 20px;
      @include respond-to(m) {
        width: 23%;
        width: 23%;
        float: left;
        margin-left: 20px;
      }
    }
    .views-field-view {
      .field-content {
        img {
          border-bottom: 3px solid color('blue-light');
        }
      }
    }
    .views-field-title {
      font-size: 1.25rem;
      line-height: 1;
      text-align: left;
      text-decoration: none;
      margin: 20px 0 25px;
      padding: 0 15px;
      font-family: 'crimsontext-semibold';
      a {
        text-decoration: none;
      }
    }
    .views-field-body {
      margin-bottom: 20px;
      padding: 0 15px;
    }
    .views-field-view-node {
      padding: 0 15px;

      a {
        background-color: transparent;
        border: 1px solid color('blue-light');
        padding: 10px 10px;
        color: color('grey');
        text-decoration: none;
        z-index: 1;
        display: block;
        text-align: center;
        font-size: 18px;
        right: 25px;
        left: inherit;
        max-width: 120px;
        &:hover {
          background: color('blue-light');
          color: color('white');
        }
      }
    }
  }
}