/* Global
*/
.field-internal{
  &::before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 2px;
    background: url("../img/Icon/flechas.png") no-repeat center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 55px;
    background-position: 14px;
  }
}
.field-external{
  &::before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 2px;
    background: url("../img/Icon/flechas.png") no-repeat center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 55px;
    background-position: -35px;
  }
}
.field-download{
  &::before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 2px;
    background: url("../img/Icon/flechas.png") no-repeat center;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 55px;
    background-position: 12px;
  }
}


.view-componente-enlaces-item{
  position: relative;
  margin-left: 20px;
  .view-content{
    padding: 0;
    margin: 0 auto;
    text-align: left;
    .views-row{
      display: inline-block;
      position: relative;
      list-style: none;
      border: 1px solid #838383;
      margin: 0;
      background: #fff;
      height: 37px;
      vertical-align: top;
      padding-top: 8px;
      padding-left: 10px;
      a{
        font-size: .83rem;
        color: #484851;
        text-decoration: none;
        padding: 10px 25px;
      }
    }
  }
}

