/* ------| Default slider 4 columnas, imagenes y bulles  |----- */
.wraper-slider-general {
	@include respond-to(xl) {
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 10px;
		// padding: 0 10px;
  }
	.view-componente-noticias-item {
    max-width: 400px;
    margin: 0 auto;
		@include respond-to(xxs){
      max-width: inherit;
    }
    //Breakpoints
		.view-content{
      height: 51vw;
			background-color: color('black');
			@include respond-to(xxs){
				height: 54vw;
			}
			@media screen and (min-width: 481px){
        height: 27vw;
			}
			@include respond-to(xs){
        height: 27vw;
			}
			@include respond-to(s){
        height: 28vw;
			}
			@include respond-to(m){
        min-height: 195px;
				height: auto;
			}
			@include respond-to(xl){
        min-height: 162px;
				height: auto;
			}
			@include respond-to(xxl){
        min-height: 162px;
				height: auto;
			}
			@include respond-to(xxxl){
        min-height: 147px;
				height: auto;
			}
		}
	}

	ul {
    list-style: none;
		padding: 0px;
		li {
      // margin: 0 10px;
			.views-row {
        //Imagenes
				.views-field-view {
          img {
            width: 100%;
					}
					.youtube-container--responsive {
            padding-bottom: 62.25%;
						background-color: color('black');
					}
				}
				.box-content {
          position: relative;
					padding: 25px;
					border-top: 3px solid #ff8827;
					background: #f4f1f1;
					min-height: 364px;
					//Fecha
					.content-date {
            color: color('orange');
						.views-field-created {
              font-family: $latoregular;
							@include type-layout(xs, 1.23);
							padding: 5px 0px;
            }
            .views-field-field-fecha-eventos{
              color: color('grey-dark');
            }
          }
          .content-description {
            .views-field-field-fecha-eventos, .views-field-additional {
              color: color('grey-dark');
              display: flex;
              margin-bottom: 15px;
              .views-label{
                font-family: $latobold;
                @include font-size(xs);
                padding-right: 5px;
              }
              .field-content{
                @include font-size(xs);
              }
            }
          }
					//Titulo
					.views-field-title,
					.views-field-title-et {
            margin: 15px 0 20px;
						span,
						a {
              font-family: $crimson-semibold;
							@include type-layout(sl, .90);
							text-decoration: none;
							@include respond-to(m) {
								@include font-size(ll);
              }
            }
            a
              &:hover{
                color: color('grey-dark');
                text-decoration: underline;
              }
					}
					//Body
					.views-field-body,
					.views-field-body-et {
            font-family: $crimson-textregular;
						@include font-size(m);
						margin-bottom: 16px;
						@include respond-to(xs) {
              height: 7pc;
						}
					}
					//Button
					.views-field-view-node {
            a {
							display: block;
							width: 180px;
							font-family: $latoregular;
							@include font-size(m);
							color: color('grey-dark');
							text-decoration: none;
							text-align: center;
							border: 1px solid color('orange-primary');
							padding: 10px 20px;
							margin: 0 auto;
							outline: none;
							position: absolute;
							bottom: 25px;
							right: 0;
							left: 0;
							@include respond-to(xs) {
								right: 25px;
								left: inherit;
								max-width: 150px;
							}
							&:hover {
								background-color: color('orange-primary');
								color: color('white');
							}
						}
					}
				}
			}
		}
  }
}
// flechas
.skin-default{
  // controls
  .swiper-news-hightlight-next,
  .swiper-news-hightlight-prev,
  .swiper-events-hightlight-next,
  .swiper-events-hightlight-prev{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    border: 1px solid #777;
    background-size: 40px 40px;
    display: none;
    @include respond-to(xl){
      display: block;
    }
    &:focus{
      outline: none;
    }
  }
  .swiper-news-hightlight-prev,
  .swiper-events-hightlight-prev{
    left: 0px;
    right: auto;
    background: url('../img/Icon/arrow_prev.svg') no-repeat center;
  }
  .swiper-news-hightlight-next,
  .swiper-events-hightlight-next{
    right: 0px;
    left: auto;
    background: url('../img/Icon/arrow_next.svg') no-repeat center;
  }
}

//carrusel de eventos que es mas bajo
.wraper-slider-eventos{
  ul{
    li{
      .box-content{
        min-height: 290px !important;
      }
    }
  }
}

//container sin padding
.view-componente-noticias{
  padding: 0;
}