/*
//------------------------------------------------------------------------------
// Home Especiales
//------------------------------------------------------------------------------
*/

/* ------| quicktabs Tabs |----- */
#quicktabs-quicktabs_especiales {
  ul.quicktabs-tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    padding-inline-start: 0px;
    li {
      margin: 10px 0;
      display: block;
      list-style: none;
      @include respond-to(xs) {
        display: inline-block;
        margin: 0px;
      }
      a {
        font-family: $latobold;
        @include font-size(s);
        text-align: center;
        text-decoration: none;
        transition: background .5s;
        background-color: #f0eeee;
        padding: 15px 50px;
        display: block;
        cursor: pointer;
      }
      &.active {
        a {
          background-color: color('blue-light');
          color: color('white');
          transition: background .5s;
        }
      }
    }
  }
}

/* ------| Eventos |----- */
.view-display-id-especiales_recientes,
.view-display-id-especiales_visitas {
  display: block;
  overflow: hidden;
  .view-content {
    ul {
      padding-inline-start: 0px;
      li.views-row {
        list-style: none;
        float: left;
        width: 100%;
        position: relative;
        background: #f4f1f1;
        margin: 10px 0;
        @include respond-to(xs) {
          width: 46.2%;
					margin: 0.7em;
					height: 500px;
        }
        @include respond-to(xl) {
          width: 30.6%;
					height: 567px;
        }
        @include respond-to(xxxl) {
          width: 23%;
        }
        //Img
        .views-field-view {
          border-bottom: 3px solid color('blue-light');
          img{
            width: 100%;
          }
        }
        //Fecha
        .views-field-created {
          margin: 10px 0px;
          span {
            font-family: $latoregular;
            @include type-layout(xxs, 1.23);
            padding: 0 15px;
            color: color('blue-light');
          }
        }
        //Titulo
        .views-field-title {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(ll);
            @include margin(.9 0 1.042);
          }
        }
        //Body
        .views-field-body {
          font-family: $crimson-textregular;
          @include type-layout(m, 1.06);
          @include margin-bottom(.417);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(o);
          }
        }
        //Button
        .views-field-view-node {
          a {
            @include respond-to(xs) {
              position: absolute;
              bottom: 20px;
              right: 10px;
              margin: 0px;
            }
            border: 1px solid color('blue-light');
            font-family: $latolight;
            font-size: 15.3px;
            color: #484851;
            text-decoration: none;
            padding: 10px 30px;
            margin: 20px;
            outline: none;
            float: right;
            &:hover {
              background-color: color('blue-light');
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}