/*
//------------------------------------------------------------------------------
// Home eventos
//------------------------------------------------------------------------------
*/

/* ------| Tabs |----- */
.view-id-home_eventos {
  .quicktabs-wrapper {
    ul.quicktabs-tabs {
      width: 100%;
      padding: 0;
      margin: 20px 0;
      list-style: none;
      position: relative;
      @include respond-to(xs) {
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
          content: '';
          width: 100%;
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: 1px solid #9e9ca1;
          margin: 0 auto;
          z-index: -1;
        }
      }
      li {
        margin-top: 15px;
        margin-bottom: 15px;
        margin: 0 5px;
        a {
          width: 100%;
          display: block;
          position: relative;
          font-family: $latobold;
          @include font-size(s);
          text-align: center;
          text-decoration: none;
          padding: 10px 20px;
          border-color: #9e9ca1;
          background: color('white');
          line-height: 1;
          cursor: pointer;
          border-top-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 0px;
          border-left-width: 0px;
          &::before {
            content: '';
            display: block;
            width: 40px;
            height: 36px;
            border-left: 1px solid #9e9ca1;
            border-top: 1px solid #9e9ca1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          &::after {
            content: '';
            display: block;
            width: 40px;
            height: 36px;
            border-right: 1px solid #9e9ca1;
            border-bottom: 1px solid #9e9ca1;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}

/* ------| Eventos |----- */
.view-id-eventos {
  display: block;
  overflow: hidden;
  .view-content {
    .views-row {
      //Img
      .views-column {
        padding-bottom: 15px;
        .views-field {
          img{
            width: 100%;
          }
          .youtube-container--responsive {
            padding-bottom: 61.25%;
          }
        }
        .box-content {
          position: relative;
          padding: 25px;
          border-top: 3px solid #ff8827;
          background: #f4f1f1;
          @include respond-to(xs) {
            min-height: 290px;
          }
          //Titulo
          .views-field-title-1 {
            font-family: $crimson-semibold;
            @include type-layout(sl, .90);
            color: #484851;
            margin: 20px 0 25px;
            @include respond-to(m) {
              @include font-size(ll);
            }
          }
          //fecha
          .content-date {
            margin-bottom: 16px;
            .views-field  {
              display: flex;
              > span {
                font-family: $latobold;
                @include font-size(xs);
                color: #333;
                padding-right: 5px;
              }
              .field-content {
                font-family: $latoregular;
                @include font-size(xs);
              }
            }
          }
          //lugar
          .content-description {
            margin-bottom: 16px;
            .views-field-additional {
              > span:nth-child(1) {
                font-family: $latobold;
                @include font-size(xs);
                color: #333;
                padding-right: 5px;
              }
              span:nth-child(2) {
                font-family: $latoregular;
                @include font-size(xs);
              }
            }
          }
          //Button
          .views-field-view-node {
            a {
              display: block;
              max-width: 180px;
              font-family: $latoregular;
              @include font-size(m);
              color: #484851;
              text-decoration: none;
              text-align: center;
              border: 1px solid color('orange');
              padding: 10px 20px;
              max-width: 180px;
              margin: 0 auto;
              @include respond-to(xs) {
                position: absolute;
                bottom: 25px;
                right: 0;
                left: 0;
              }
              &:hover {
                background-color: color('orange');
                color: #ffffff;
              }
              @include respond-to(m) {
                right: 25px;
                left: inherit;
                max-width: 150px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 555px) and (max-width: 767px) {
        .views-column {
          width: 50%;
          float: left;
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.view-id-eventos {
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: color('white');
      border-radius: 0;
      padding: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        border-top: 1px solid color('orange');
        z-index: -1;
      }
      li {
        color: #484851;
        border: 1px solid color('white');
        border-radius: 0;
        background-color: color('white');
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid color('white');
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: color('white');
          .ajax-progress {
            display: none;
          }
        }
        &.active {
          border-color: color('orange');
          span {
            background-color: transparent;
            border-radius: initial;
            color: color('black');
            border: initial;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
}

/* ------| Noticias body y fecha |----- */
.eventos{
  #body-contain {
    @include respond-to(m) {
      width: 550px;
      margin: 0 auto;
    }
  }
}