.view.view-eventos-decanatura {
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.view-eventos-decanatura .view-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 140px 140px 140px 300px;
	grid-auto-flow: dense;
	grid-gap: 10px;
	margin: 0 auto;
	width: 100%;
	max-width: 620px;
	height: auto !important;
	@include respond-to(m, true){
		grid-template-rows: 200px 200px 200px 400px;
		grid-gap: 20px;
	}
}

.masonry-item{
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	right: auto !important;
	bottom: auto !important;
	overflow: hidden !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	// transition-duration: 0ms !important;
	transform: translate3d(0,0,0) !important;
}

.field-content{
	display: block;
}

.iframe-conten,
.imge-conten{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;

	img{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		max-width: 200%;
		top: 50%;
		left: 50%;
		width: auto;
		transition: transform ease-out .4s;
		transform-origin: 50% 50%;
		transform: scale(1) translate3d(-50%, -50%, 0);
	}
}

.masonry-item:nth-child(odd),
.item-lg{
	grid-row: span 2;
	height: 290px;
	@include respond-to(m){
		height: 420px;
	}
}

.masonry-item:nth-child(even),
.item-sm{
	grid-row: span 1;
	height: 140px;
	@include respond-to(m){
		height: 200px;
	}
}

.masonry-item:last-child,
.item-full{
	grid-column: span 2;
	grid-row: auto;
	height: 290px;
	@include respond-to(m){
		height: 400px;
	}
}

.box-date{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 20;
	font-weight: 700;
}

.box-date .date-number{
	display: block;
	color: white;
	font-size: 32px;
	line-height: 1;
}

.box-date .date-month{
	display: block;
	font-size: 11px;
	line-height: 1;
	color: white;
}

.box-icon{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 20;
	border-radius: 100%;
	text-align: center;
	overflow: hidden;
	background-color: #F69331;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.slider-homes-left,
.slider-homes-center,
.slider-homes-right,
.slider-homes-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.title-slider-homes{
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 10px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.7);
	@include respond-to(m){
		width: 80%;
	}

}

.title-slider-homes a{
	display: block;
	text-decoration: none;
	outline: 0;
	color: white;
	font-size: 21px;
	line-height: 1.2;
	font-weight: 700;
	padding-bottom: 4px;
	border-bottom: 1px solid #F69331;
	@include respond-to(m){
		font-size: 30px;
	}
}









