.view-eventos-decanatura {
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 10px 15px;
	box-sizing: border-box;

	@include respond-to(m) {
		padding: 20px 15px;
	}

	// @supports (display: grid) {
		.view-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			// grid-template-rows: 160px 160px 160px 300px;
			grid-gap: 10px;
			margin: 0 auto;
			width: 100%;
			max-width: 620px;
			height: auto !important;
			@include respond-to(m) {
				// grid-template-rows: 160px 160px 160px 300px;
				grid-gap: 20px;
			}
		}
	// }
	
	.masonry-item{
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		right: auto !important;
		bottom: auto !important;
		overflow: hidden !important;
		width: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		// transition-duration: 0ms !important;
		transform: translate3d(0,0,0) !important;
	}

	.views-field{
		position: relative;
		height: 100%;
	}

	.field-content{
		position: relative;
		display: block;
		height: 100%;
	}

	.iframe-conten,
	.imge-conten{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;

		img{
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			// max-width: 200%;
			object-fit: cover;
			top: 50%;
			left: 50%;
			transform-origin: 50% 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}

	.iframe-conten.object-fit,
	.imge-conten.object-fit{
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		img{
			opacity: 0;
		}
	}
	
	// @supports (display: grid) {
		// .masonry-item:nth-child(odd),
		.item-lg{
			-ms-grid-row: 1;
			-ms-grid-row-span: 3;
			grid-row: span 2;
			height: 330px;
			@include respond-to(m) {
				height: 340px;
			}
		}
	// }
	
	// @supports (display: grid) {
		// .masonry-item:nth-child(even),
		.item-sm{
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			grid-row: span 1;
			height: 160px;
			@include respond-to(m) {
				height: 160px;
			}
		}
	// }

	// @supports (display: grid) {
		// .masonry-item:last-child,
		// .masonry-item:first-child,
		.masonry-item.item-full{
			-ms-grid-column: 1;
			-ms-grid-column-span: 3;
			grid-column: span 2;
			grid-row: auto;
			height: 300px;
			@include respond-to(m) {
				height: 300px;
			}
		}
	// }

	.box-date{
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 20;
		font-weight: 700;
	}

	.box-date .date-number{
		display: block;
		color: white;
		font-size: 32px;
		line-height: 1;
		text-align: left;
	}

	.box-date .date-month{
		display: block;
		font-size: 11px;
		line-height: 1;
		color: white;
	}

	.box-icon{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		z-index: 20;
		border-radius: 100%;
		text-align: center;
		overflow: hidden;
		background-color: #F69331;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.slider-homes-left,
	.slider-homes-center,
	.slider-homes-right,
	.slider-homes-bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 20;
	}

	.title-slider-homes{
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 10px;
		box-sizing: border-box;
		background-color: rgba(0,0,0,.7);
		@include respond-to(m) {
			width: 80%;
		}
		@include respond-to(xxs) {
			width: 90%;
			padding: 10px 15px;
		}

	}

	.title-slider-homes a{
		display: block;
		text-decoration: none;
		outline: 0;
		color: white;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		padding-bottom: 4px;
		border-bottom: 1px solid #F69331;
		@include respond-to(xxs) {
			font-size: 30px;
		}
		@include respond-to(m) {
			font-size: 21px;
		}
		@include respond-to(xxs) {
			font-size: 16px;
		}
	}

	// update

	

	.detail-content{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		/*display: none;*/
		visibility: hidden;
		opacity: 0;
		background-color: #000;
		padding: 10px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		// backface-visibility: hidden;
		transform-origin: 50% 0;
		transition: opacity ease-out .4s;
	}

	@include respond-to(xxs) {
		.masonry-item:hover .detail-content{
			/*display: block;*/
			visibility: visible;
			opacity: 1;
		}
	}
	@include respond-to(m) {
		.detail-content{
			padding: 10px;
		}
	}

	.head-bar{
		display: table-row;
	}

	.head-bar .box-date{
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding-right: 10px;
		text-align: center;
		left: 0;
		top: 0;
		line-height: 1;
	}

	.head-bar .box-data{
		display: table-cell;
		vertical-align: middle;
		color: white;
		padding-left: 10px;
		font-size: 12px;
		line-height: 1;
		border-left: 2px solid #F69331;
		font-size: 12px;
	}

	@include respond-to(m) {
		.head-bar .box-data{
			line-height: 1.4;
			font-size: 14px;
		}
	}

	.head-content{
		margin-top: 12px;
	}

	.head-content p{
		color: white;
		text-rendering: geometricPrecision;
		font-size: 14px;
		line-height: 1.1;
		margin-bottom: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-height: 18px;
		overflow: hidden;
	}

	@include respond-to(xxs) {
		.head-content p{
			white-space: initial;
			max-height: none;
			overflow: initial;
		}
	}

	.head-btn{
		display: block;
		max-width: 120px;
		padding: 6px 4px;
		margin-left: auto;
		margin-right: 0px; 
		text-align: center;
		text-decoration: none;
		color: white;
		font-weight: 400;
		font-size: 12px;
		background-color: #F69331;
	}
	.head-btn:hover{
		color: white;
		text-decoration: none;
	}

	.view-content-load{
		position: relative;
		padding: 10px;
		text-align: center;
	}
	.view-content-load img{
		cursor: pointer;
	}

	.pager.pager-load-more a {
		display: inline-block;
		text-indent: -9999px;
		background-image: url(../img/Icon/events-arrow-down.png);
		background-repeat: no-repeat;
		background-size: contain;
		margin-top: 45px;
		margin-bottom: 29px;
		width: 37px;
		height: 37px;
		border-radius: 0;
		border: 0;
		&:hover{
			background-color: transparent;
			opacity: .5;
		}
		.ajax-progress{
			display: none;
		}
	}

}
















