
/*
//------------------------------------------------------------------------------
// Layouts 11
//------------------------------------------------------------------------------
*/

/* ------| slider alineacion center |----- */
.slider-homes-layout-eleven {
  .title-slider-homes {
    font-family: $latoregular;
    @include font-size(xxs);
    color: #484851;
    padding: 5px 0;
  }
}

.slider-homes-layout-eleven{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .conten{
    padding: 0 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .title-slider-homes,
    .body-slider-homes,
    .link-slider-homes {
      text-align: center;
    }
  }
}
