/*
//------------------------------------------------------------------------------
// Layouts 9
//------------------------------------------------------------------------------
*/

/* ------| Panel Responsin |----- */
#layout-nine {
  .panel-col-first {
      width: 100%;
    @include respond-to(m) {
      width: 50%;
    }
  }
  .panel-col-last {
    width: 100%;
    @include respond-to(m) {
      width: 49.9%;
    }
  }
}

/* ------| layaut first, last |----- */
#layout-nine .center-wrapper {
  margin: 0 auto;
  @include respond-to(m) {
    width: 750px;
  }
  @include respond-to(xl) {
    width: 970px;
  }
  @include respond-to(xxxl) {
    width: 1170px;
  }
  //titulo
  .pane-node-title {
    h1 {
    font-family: $latoblack;
    @include font-size(l);
    color: color('grey');
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    // @include margin-bottom(1.7);
    @include respond-to(xs) {
        @include font-size(xl);
      }
      @include respond-to(xl) {
        @include font-size(xxxl);
      }
    }
  }
  //body
  .field-name-body {
    padding: 0 15px;
    p {
      font-family: $crimson-textregular;
      @include font-size(o);
      color: color('black');
    }
  }
  //Mapa
  .field-name-field-lugar {
    margin-top: 40px;
    @include respond-to(m) {
      margin-top: 0px;
    }
  }
}



