.view-id-eventos_decanatura {
  border: 1px solid red;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include respond-to(m) {
      width: 750px;
  }
  @include respond-to(xl) {
      width: 970px;
  }
  @include respond-to(xxxl) {
      width: 1170px;
  }
  .view-content.masonry-processed {
    display: grid;
    grid-template-columns: 400px 400px;
    // grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    position: initial !important;
    height: auto !important;
    justify-content: center;
    .masonry-item {
      position: initial !important;
      width: auto !important;
      opacity: .5;
      border: 1px solid red;
      .views-field-views-conditional {
        position: relative;
        .title-slider-homes {
          position: absolute;
          top: 0px;
          left: 10%;
          a {
            color: color('blue');
          }
        }
      }
      &.views-row-1  {
        grid-column: 1/3;
        grid-row: 1;
      }
      &.views-row-2  {
        grid-column: 1;
        grid-row: 2/3;
      }
      &.views-row-3  {
        grid-column: 2;
        grid-row: 2;
      }
      &.views-row-4  {
        // grid-column: 2;
        // grid-row: 4/7;
      }
      // &:nth-child(4) {
      //   grid-column: 2;
      //   grid-row: 3/5;
      // }
      // &:nth-child(5) {
      //   grid-column: 2;
      //   grid-row: 3/5;
      // }
    }
  }
}


