
/*
//------------------------------------------------------------------------------
// Layouts 11
//------------------------------------------------------------------------------
*/

/* ------| slider alineacion center |----- */
.slider-homes-layout-eleven {
  .title-slider-homes {
    font-family: $latoregular;
    @include font-size(xxs);
    color: #484851;
    padding: 5px 0;
  }
  .conten{
    padding: 0 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .title-slider-homes,
    .body-slider-homes,
    .link-slider-homes {
      text-align: center;
    }
  }
}