/*
//------------------------------------------------------------------------------
// Layouts 2
//------------------------------------------------------------------------------
*/
.view-id-componente_layout_2 {
  width: 100%;
  .views-field-views-conditional {
    display: block;
    overflow: hidden;
    padding: 25px 0;
    //Ubicacion left
    .item-content-ubication-left {
      @include respond-to(m) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .views-field {
        @include respond-to(m) {
          width: 50%;
        }
      }
      .container-title-desc {
        @include respond-to(m) {
          width: 50%;
          float: left;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    //Ubicacion rigth
    .item-content-ubication-rigth {
      @include respond-to(m) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
      }
      .views-field {
        @include respond-to(m) {
          width: 50%;
        }
      }
      .container-title-desc {
        @include respond-to(m) {
          width: 50%;
        }
      }
    }
    //Ubicacion top
    .item-content-ubication-top {
      .views-field {
        width: 100%;
        @include respond-to(m) {
          width: 80%;
          margin: 0 auto;
        }
      }
      .container-title-desc {
        width: 100%;
        @include respond-to(m) {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    //Ubicacion bottom
    .item-content-ubication-bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .views-field {
        @include respond-to(m) {
          width: 80%;
          margin: 0 auto;
        }
      }
      .container-title-desc {
        width: 100%;
        @include respond-to(m) {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    //imagen
    .views-field {
      img {
        width: 100%;
      }
      iframe {
        width: 100%;
      }
    }
    //conten text
    .container-title-desc {
      padding: 25px 15px;
      @include respond-to(m) {
        padding: 30px;
      }
      //title
      .dos-titulo {
        font-family: $crimson-textbold;
        @include type-layout(l, .96);
        color: #484851;
        @include padding-bottom(.834);
        @include respond-to(xl) {
          @include font-size(xl);
        }
      }
      //body
      .dos-body {
        font-family: $crimson-textregular;
        @include font-size(m);
        text-align: justify
      }
    }
  }
}

/* ------| slider alineacion center |----- */
.slider-homes-layout-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  .title-slider-homes {
    font-family: $latoblack;
    @include font-size(xl);
    color: color('white');
    text-transform: uppercase;
    @include respond-to(xl) {
      @include font-size(xxxl);
    }
  }
  .body-slider-homes {
    p {
      font-family: $latolight;
      @include font-size(l);
      color: color('white');
      padding: 10px 0;
    }
  }
}