/*
//------------------------------------------------------------------------------
// Layouts 7
//------------------------------------------------------------------------------
*/

.view-slider-homes{
  .slider-homes-layout-seven{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------| slider alineacion center |----- */
.slider-homes-layout-seven {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgba(0,0,0,.5);
  .title-slider-homes {
    font-family: $latoblack;
    @include font-size(xl);
    color: color('white');
    text-transform: uppercase;
    text-align: center;
    @include respond-to(xl) {
      @include font-size(xxxl);
    }
  }
  .body-slider-homes {
    p {
      font-family: $latolight;
      @include font-size(l);
      color: color('white');
      text-align: center;
    }
  }
}