
/*
//------------------------------------------------------------------------------
// Layouts 11
//------------------------------------------------------------------------------
*/

/* ------| slider alineacion center |----- */
.slider-homes-layout-eleven {
  .title-slider-homes {
    font-family: $latoregular;
    @include font-size(xxs);
    color: #484851;
    padding: 5px 0;
  }
}