/*
//------------------------------------------------------------------------------
// Layouts 2
//------------------------------------------------------------------------------
*/

.view-id-componente_layout_2 {
  width: 100%;
  .views-field-views-conditional {
    display: block;
    overflow: hidden;
    padding: 25px 0;
    //Ubicacion left
    .item-content-ubication-left {
      @include respond-to(xl) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      // iframe 
      .embedded-video {
        width: 100%;
        position: relative;
        min-height: 164px;
        @include respond-to(xl) {
          width: 50%;
          min-height: 305px;
        }
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      }
      .views-field {
        @include respond-to(xs) {
          width: 50%;
        }
      }
      // Texto
      .container-title-desc {
        @include respond-to(xl) {
          width: 50%;
          display: block;;
          vertical-align: middle;
          padding: 30px 0px 30px 30px;
        }
      }
    }
    //Ubicacion rigth
    .item-content-ubication-rigth {
      @include respond-to(xl) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
      }
      // iframe 
      .embedded-video {
        width: 100%;
        position: relative;
        min-height: 164px;
        @include respond-to(xl) {
          width: 50%;
          min-height: 305px;
        }
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      }
      .views-field {
        @include respond-to(m) {
          width: 50%;
        }
      }
      .container-title-desc {
        @include respond-to(xl) {
          width: 50%;
          padding: 30px 30px 30px 0px;
        }
      }
    }
    //Ubicacion top
    .item-content-ubication-top {
      .embedded-video {
        width: 100%;
        position: relative;
        min-height: 164px;
        @include respond-to(xl) {
          min-height: 305px;
        }
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      }   
      .views-field {
        width: 100%;
        @include respond-to(m) {
          width: 95%;
          margin: 0 auto;
        }
      }
      // Texto
      .container-title-desc {
        width: 100%;
        padding: 30px 0px;
      }
    }
    //Ubicacion bottom
    .item-content-ubication-bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      // iframe
      .embedded-video {
        width: 100%;
        position: relative;
        min-height: 164px;
        @include respond-to(xl) {
          min-height: 305px;
        }
        iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      } 
      .views-field {
        @include respond-to(m) {
          width: 95%;
          margin: 0 auto;
        }
      }
      // Texto
      .container-title-desc {
        width: 100%;
      }
    }

    //imagen
    .views-field {
      img {
        width: 100%;
      }
      iframe {
        width: 100%;
      }
    }
    //conten text
    .container-title-desc {
      padding: 25px 0px;
      //title
      .dos-titulo {
        font-family: $crimson-textbold;
        @include type-layout(l, .96);
        color: #484851;
        @include padding-bottom(.834);
        @include respond-to(xl) {
          @include font-size(xl);
        }
      }
      //body
      .dos-body {
        font-family: $crimson-textregular;
        @include font-size(m);
        text-align: justify
      }
    }
  }
  .container-gris{
    background-color: color('grey-light');
    text-align: center;
    padding: 10px 0 20px;
    h3{
      @include font-size(xl);
      font-family: $crimson-textbold;
    }
    p{
      @include font-size(l);
    }
  }
}


.box-master-two-contact {
  background: #f4f1f1;
  padding: 40px 0;
  text-align: center;
  @include respond-to(m) {
    margin: 40px 0;
  }
  h3 {
    font-family: $latoblack;
    @include font-size(xl);
    text-transform: uppercase;
    color: color('grey-dark');
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    line-height: normal;
  }
  p {
    font-family: $latoregular;
    @include font-size(m);
    color: #212529;
  }
}