/*
//------------------------------------------------------------------------------
// Multimedia
//------------------------------------------------------------------------------
*/

.view-display-id-home_noticias_destacadas {
	margin: 0 auto;
	padding: 15px;
	position: relative;
	border: 1px solid #006135;
	ul {
		-webkit-padding-start: 0px;
		height: 380px;
		li.swiper-slide {
	    list-style: none;
			//video
			.view-display-id-default {
				.views-field-field-video-banner {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			//img
			.views-row {
				overflow: hidden;
				.views-field-view {
					width: 40%;
					float: left;
					padding-right: 20px;
					img {
						width: 100%;
					}
				}
        //titulo
        .multimedia-titulo {
          margin: 0 0 10px;
          a {
            font-family: $crimson-textbold;
            @include type-layout(o, 1.16);
            color: color('black');
            &:hover {
              text-decoration-line: underline;
            }
          }
        }
        //body
        .multimedia-body {
          font-family: $crimson-textregular;
          @include font-size(s);
          line-height: 1.2;
          color: color('black');
          &:hover {
            text-decoration-line: underline;
          }
        }
			}
		}
	}
}

/* ------| Flechas paginador |----- */
.view-display-id-home_noticias_destacadas {
	.skin-default {
    position: relative;
    .views-slideshow-controls-bottom,
		.views-slideshow-controls-top {
			display: block;
      //Conten Flechas
      .views-slideshow-controls-text {
        display: inline-flex;
        //Button Izquierda
        a[rel='prev'] {
          font-size: 0;
          width: 40px;
          height: 40px;
          position: absolute;
          top: inherit;
          left: 2%;
          bottom: -28px;
          border: 1px solid #777;
          background: url('../img/Icon/arrow_prev.svg') no-repeat center;
          background-size: 40px 40px;
          transform: rotate(-90deg);
          background-color: white;
          z-index: 2;
        }
        //Buttom Pause
        .views-slideshow-controls-text-pause {
          display: none;
        }
        //Button Deracha
        a[rel='next'] {
          font-size: 0;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 12%;
          top: inherit;
          bottom: -28px;
          border: 1px solid #777;
          background: url('../img/Icon/arrow_next.svg') no-repeat center;
          background-color: white;
          transform: rotate(-90deg);
          z-index: 2;
        }
      }
    }
	}
}

/* ------| Multimedia Reproduccion |----- */
.view-display-id-home_noticias_destacada {
  display: none;
  padding-left: 20px;
  @include respond-to(xl) {
    display: block;
  }
	//img
	.view-id-componente_noticias_item {
		img {
			width: 100%;
			height: 100%,
		}
	}
	//titulo
	.views-field-title {
		margin: 20px 0 10px;
		span {
			font-family: $crimson-textbold;
			@include type-layout(ll, 1.16);
			margin-bottom: 14px;
			font-weight: 400;
		}
	}
	//body
	.views-field-body {
    width: 80%;
    float: left;
		div p {
			font-family: $crimson-textregular;
			@include type-layout(o, 1.1);
		}
	}
	//button
	.views-field-view-node {
    width: 20%;
    float: left;
		@extend %link-slider-home;
	}
}


/*
//------------------------------------------------------------------------------
// home Noticias
//------------------------------------------------------------------------------
*/

/* ------| quicktabs Tabs |----- */
#quicktabs-quicktabs_home_noticias {
  ul.quicktabs-tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    padding-inline-start: 0px;
    li {
      margin: 10px 0;
      display: block;
      list-style: none;
      @include respond-to(xs) {
        display: inline-block;
        margin: 0px;
      }
      a {
        font-family: $latobold;
        @include font-size(s);
        text-align: center;
        text-decoration: none;
        transition: background .5s;
        background-color: #f0eeee;
        padding: 15px 50px;
        display: block;
        cursor: pointer;
      }
      &.active {
        a {
          background-color: color('blue-light');
          color: color('white');
          transition: background .5s;
        }
      }
    }
  }
}

/* ------| Cards noticias|----- */
.view-display-id-home_noticias_recientes,
.view-display-id-home_noticias_vistas  {
  display: block;
  overflow: hidden;
  .view-content {
    ul {
      padding-inline-start: 0px;
      li.views-row {
        list-style: none;
        float: left;
        width: 100%;
        position: relative;
        background: #f4f1f1;
        margin: 10px 0;
        @include respond-to(xs) {
          width: 46.3%;
          height: 485px;
          margin: 0.7em;
        }
        @include respond-to(xl) {
          width: 31%;
          height: 545px;
        }
        @include respond-to(xxxl) {
          width: 23%;
        }
        //Img
        .views-field {
          img{
            width: 100%;
            border-bottom: 3px solid #ff8827;
          }
          .youtube-container--responsive {
            padding-bottom: 63.25%;
            border-bottom: 3px solid #ff8827;
          }
        }
        	//Fecha
        .views-field-created {
          margin: 10px 0px;
          span {
            font-family: $latoregular;
            @include type-layout(xxs, 1.23);
            padding: 0 15px;
            color: color('orange');
          }
        }
        //Titulo
        .views-field-title {
          font-family: $crimson-textbold;
          @include type-layout(l, .96);
          color: #484851;
          @include margin(.834 0 .834);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(ll);
            @include margin(.9 0 1.042);
          }
        }
        //Body
        .views-field-body {
          font-family: $crimson-textregular;
          @include type-layout(m, 1.06);
          @include margin-bottom(.417);
          padding: 0 15px;
          @include respond-to(xl) {
            @include font-size(o);
          }
        }
        //Button
        .views-field-view-node {
          margin: 20px;
          a {
            @include respond-to(xs) {
              position: absolute;
              bottom: 20px;
              right: 10px;
              margin: 0px;
            }
            display: block;
            max-width: 180px;
            font-family: $latolight;
            font-size: 15.3px;
            color: #484851;
            text-decoration: none;
            text-align: center;
            border: 1px solid color('orange');
            padding: 10px 30px;
            margin: 0 auto;
            outline: none;
            &:hover {
              background-color: color('orange');
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.view-display-id-home_noticias_recientes,
.view-display-id-home_noticias_vistas  {
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: #fff;
      border-radius: 0;
      padding: 10px;
      li {
        color: #484851;
        border-radius: 0;
        background-color: #fff;
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid #e55d12;
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: #fff;
        }
        &.active {
          span {
            border-color: #e55d12;
            background-color: #e55d12;
            border-radius: initial;
            color: color('white');
            border: initial;
            z-index: 1;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
}
