/*
//------------------------------------------------------------------------------
// Multimedia
//------------------------------------------------------------------------------
*/

/* ------| Tags categorias  |----- */
.noticias {
	.field-name-field-categoria {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			border-top: 1px solid #9e9ca1;
			width: 90%;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: -1;
		}
		.field-item {
			display: inline-flex;
			span {
				margin: 0 10px 0 0;
				a {
					color: #484851;
					text-decoration: none;
					font-family: $latobold;
					display: block;
					padding: 10px 20px;
					border: 1px solid #9e9ca1;
					font-size: 0.89rem;
					background-color: white;
				}
			}
		}

		.hierarchical-select-item-separator {
			display: none;
		}
	}
	.pane-node-title {
		h1 {
			font-family: $latoblack;
			@include font-size(ll);
			color: color('grey');
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			// @include margin-bottom(1.7);
			@include respond-to(m) {
				@include font-size(xxxl);
			}
		}
	}
}

/*
//------------------------------------------------------------------------------
// home Noticias
//------------------------------------------------------------------------------
*/

/* ------| quicktabs Tabs |----- */
#quicktabs-quicktabs_home_noticias {
  ul.quicktabs-tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 40px 0px;
    list-style: none;
    @include respond-to(xl) {
      margin: 0 10px;
    }
    li {
      margin: 10px 0;
      display: block;
      @include respond-to(xs) {
        display: inline-block;
        margin: 0px;
      }
      a {
        font-family: $latobold;
        @include font-size(s);
        text-align: center;
        text-decoration: none;
        background-color: #f0eeee;
        padding: 15px 50px;
        display: block;
        cursor: pointer;
      }
      &.active {
        a {
          background-color: color('blue-light');
          color: color('white');
        }
      }
      &:hover {
        a {
          background-color: color('blue-light');
          color: color('white');
        }
      }
    }
  }
}

/* ------| cards recientes y más vistos |----- */
.view-display-id-home_noticias_recientes,
.view-display-id-home_noticias_vistas {
  display: block;
  overflow: hidden;
  .view-content {
    .views-row {
      .views-column {
        margin-bottom: 15px;
        //Img
        .views-field-view {
          @include respond-to(xs) {
            max-height: 138px;
          }
          @include respond-to(s) {
            max-height: 161px;
          }
          @include respond-to(m) {
            max-height: 185px;
          }
          @include respond-to(l) {
            max-height: 185px;
          }
          @include respond-to(xl) {
            max-height: 150px;
          }
          .views-field {
            img{
              width: 100%;
            }
            .youtube-container--responsive {
              padding-bottom: 62%;
            }
          }
        }
        .box-content {
          position: relative;
          padding: 20px 15px;
          border-top: 3px solid #ff8827;
          background: #f4f1f1;
          @include respond-to(xs) {
            min-height: 360px;
          }
          //Fecha
          .views-field-created {
            font-family: $latoregular;
            @include type-layout(xs, 1.23);
            color: color('orange');
            padding: 5px 0px;
          }
          //Titulo
          .views-field-title,
          .views-field-title-field-et {
            font-family: $crimson-semibold;
            @include type-layout(sl, .90);
            // color: #484851;
            margin: 15px 0 20px;
            @include respond-to(m) {
              @include font-size(ll);
            }
          }
          //Body
          .views-field-body,
          .views-field-body-et {
            font-family: $crimson-textregular;
            @include font-size(m);
            margin-bottom: 16px;
            @include respond-to(xs) {
              height: 7pc;
            }
          }
          //Button
          .views-field-view-node {
            a {
              display: block;
              max-width: 180px;
              font-family: $latoregular;
              @include font-size(m);
              // color: #484851;
              text-decoration: none;
              text-align: center;
              border: 1px solid color('orange');
              padding: 10px 20px;
              max-width: 180px;
              margin: 0 auto;
              @include respond-to(xs) {
                position: absolute;
                bottom: 25px;
                right: 0;
                left: 0;
              }
              &:hover {
                background-color: color('orange');
                color: #ffffff;
              }
              @include respond-to(m) {
                right: 25px;
                left: inherit;
                max-width: 150px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 555px) and (max-width: 767px) {
        .views-column {
          width: 50%;
          float: left;
        }
      }
    }
  }
}

/* ------| Paguinadores |----- */
.view-display-id-home_noticias_recientes,
.view-display-id-home_noticias_vistas  {
  .text-center {
    width: 100%;
    position: relative;
    overflow: hidden;
    ul.pagination {
      background: #fff;
      border-radius: 0;
      padding: 10px;
      li {
        color: #484851;
        border-radius: 0;
        background-color: #fff;
        display: block;
        float: left;
        margin: 0 5px;
        a {
          color: #484851;
          border: 1px solid #e55d12;
          font-family: Lato,sans-serif;
          border-radius: 0;
          background-color: #fff;
        }
        &.active {
          span {
            border-color: #e55d12;
            background-color: #e55d12;
            border-radius: initial;
            color: color('white');
            border: initial;
            z-index: 1;
          }
        }
        &.next,
        &.prev,
        &.pager-last,
        &.pager-first {
          display: none;
        }
      }
    }
  }
}

/* ------| Noticias body y fecha |----- */
.noticias {
  #date-noticia {
    padding-top: 40px;
    padding-bottom: 20px;
    @include respond-to(m) {
      width: 550px;
      margin: 0 auto;
    }
    .pane-content {
      font-family: $latobold;
      color: color('orange-primary');
      @include type-layout(xxs, 1.23);
    }
  }
  #body-contain {
    @include respond-to(m) {
      width: 550px;
      margin: 0 auto;
    }
  }
}

/* ------| Autor noticias |----- */
.contenedor-auto {
  padding-bottom: 30px;
  max-width: 310px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  .imagen-autor {
    float: left;
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    margin-right: 25px;
    img {
      border-radius: 50%;
      background-color: black;
      width: 100%;
      height: 100%;
    }
  }
  .text-autor {
    float: left;
    margin-right: 20px;
    .views-field-field-autor,
    .views-field-name-field,
    .views-field-field-email {
      @include font-size(m);
    }
    .views-field-field-autor{
      font-family: $latobold;
    }
    .views-field-name-field,
    .views-field-field-email{
      font-family: $latolight;
    }
  }
}
