#social-share-configuration .form-item-social-network .form-type-checkbox{
  display: inline-block;
  padding-left: 10px;
}

.social-network-list{
  display: inline-block;
  list-style: none;
  text-align: center;
}

.social-network-list li{
  float: left;
  width: 32px;
  height: 32px;
  background: red;
  margin-left: 10px;
  text-align: center;
  top: 0;
  transition: top ease 0.5s;
}
.social-network-list .social-item-fb{
  background: #3b5997;
}
.social-network-list .social-item-tw{
  background: #6bb6f0;
}
.social-network-list .social-item-lnk{
  background: #007bb6;
}
.social-network-list .social-item-gm{
  background: #dd4b39;
}

.social-network-list li:hover{
  position: relative;
  top: -10px;
}